<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin-layout::admin-header">
	<title th:text="${news.title}">Просмотр новости</title>
	<script type="text/javascript" src="/resources/common/js/tinymce/tinymce.min.js"></script>
</head>
<body>
	<nav th:replace="admin-layout::site-head" class="container">
	</nav>
	
	<div>
	    <script>
		    tinymce.init({
		    	  selector: 'textarea',
		    	  height: 500,
		    	  theme: 'modern',
		    	  language:"ru_RU",
		    	  plugins: [
		    	    'advlist autolink lists link image charmap print preview hr anchor pagebreak',
		    	    'searchreplace wordcount visualblocks visualchars code fullscreen',
		    	    'insertdatetime media nonbreaking save table contextmenu directionality',
		    	    'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
		    	  ],
		    	  toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
		    	  image_advtab: true,
		    	  templates: [
		    	    { title: 'Test template 1', content: 'Test 1' },
		    	    { title: 'Test template 2', content: 'Test 2' }
		    	  ],
		    	  content_css: [
		    	    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
		    	    '//www.tinymce.com/css/codepen.min.css'
		    	  ]
		    	 });	    
	    </script>
	
		<form id="newsForm" th:action="@{/news/create}" th:object="${news}" action="#" method="post" enctype="multipart/form-data">
            <div>
                <span th:text="'Изображение новости'"/>
              <input type="file" name="preview_image" placeholder="Превью"/>
            </div>
			<div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
				<p th:each="error : ${#fields.errors('*')}" th:text="${error}">
					Validation error</p>
			</div>
			<div class="pull-right">
				<a th:href="@{/news}" href="/news"> Новости </a>
			</div>
			<input type="hidden" th:field="*{id}"
				th:class="${#fields.hasErrors('id')} ? 'field-error'" /> <label
				for="title">Заголовок</label> <input type="text"
				th:field="*{title}"
				th:class="${#fields.hasErrors('title')} ? 'field-error'" />
				<br/>
				<label for="content">Текст</label>
			
			<textarea th:field="*{content}"
				th:class="${#fields.hasErrors('content')} ? 'field-error'"></textarea>
			<div class="form-actions">
				<input type="submit" value="Сохранить" />
			</div>
		</form>
	</div>
	
	<footer th:replace="layout::site-footer" />
</body>
</html>