<!DOCTYPE html>
<!--[if lt IE 7]><html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head th:replace="layout::site-head">
	<title th:text="${news.title}">Просмотр новости</title>
</head>

<body>

	<header th:replace="layout::site-header"></header>

	<!--<article>-->
		<!--<h2 class="title" th:text="${news.title}"></h2>-->
		<!--<div class="date">-->
			<!--<i>Добавлена</i> <span-->
				<!--th:text="${#dates.format(news.timestamp, 'dd-MMM-yyyy')}"></span>-->
		<!--</div>-->
		<!--<p class="content" th:utext="${news.content}"></p>-->
	<!--</article>-->

		<div class="grey_bg">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb_new">
							<li><a href="/">Главная</a> / </li>
							<li>Статьи</li>
						</ul>
						<div class="page_title">
							<h1>Статьи</h1>
						</div>
					</div>
				</div>

                <div class="page nopadding">
                    <article>
                        <div class="stat_header" th:utext="${news.title}"/>
                        <div class="stat_date" th:utext="${#dates.format(news.timestamp,'dd.MMM.yyyy')}"/>
                        <!--TODO: Добавить источник новости в качестве таблицы в БД?-->
                        <div class="stat_from"/>
                        <div class="stat_social">
                            <a href="#" class="vk_detail"/>
                            <a href="#" class="ok_detail"/>
                            <a href='#' class="tw_detail"/>
                            <a href='#' class="fb_detail"/>
                        </div>
                        <div class="stat_text" th:utext="${news.content}"/>
                    </article>
                    <div class="pagen row">
                        <div class='col-md-3 col-sd-5 col-xs-6 stat_prev'>
                            <a th:if="${previous!=null}" th:href="'/news/view/'+${previous.id}">
                                <img src='/autoservice/img/qw.png'/><span class='hidden-xs'> Предыдущая статья </span>
                            </a>
                        </div>
                        <div class='col-md-6 col-sd-2 col-xs-0 '></div>
                        <div class='col-md-3 col-sd-5 col-xs-6 stat_next'>
                            <a th:if="${next!=null}" th:href="'/news/view/'+${next.id}">
                                <span class='hidden-xs'> Следующая статья </span> <img src='/autoservice/img/qw2.png'/>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div th:each="n:${last4News}" class='col-lg-3 col-md-3 col-sd-6 col-xs-12'>
                            <div class="other_item">
                                <!--/*@thymesVar id="n" type="com.ss.remont.entity.News"*/-->
                                <a th:href="'/news/view/'+${n.id}">
                                    <img th:src="${n.preview_image==null}?'/common/images/press.jpg':'/images/?filename='+${n.preview_image.pathMedium}" class="img-responsive"/>
                                    <div class="more_stat_date" th:text="${#dates.format(n.timestamp,'dd.MMM.yyyy')}"/>
                                    <div class="more_stat_header" th:text="${n.title}"/>
                                </a>
                            </div>
                        </div>
                        </div>
                </div>

				<!--<div class="page nopadding">-->
					<!--<article>					-->
					<!--<div class="stat_header"> Смартфон заменит водительские права: процесс начался </div>-->
					<!--<div class="stat_date">23.06.2017</div>-->
					<!--<div class="stat_from">auto.mail.ru</div>-->
					<!--<div class="stat_social">-->
						<!--<a href='#' class="vk_detail"></a>-->
						<!--<a href='#' class="ok_detail"></a>-->
						<!--<a href='#' class="tw_detail"></a>-->
						<!--<a href='#' class="fb_detail"></a>-->
					<!--</div>					-->
					<!--<div class="stat_text">						-->
						<!--<p>Министерство цифровых технологий Польши уверяет, что удостоверение личности, водительские права, а также документы на автомобиль со следующего года заменит смартфон. Таксе заявление на пресс-конференции сделала министр Анна Стрежинская, сообщает Polskie Radio.</p> -->
						<!--<div class='under_img'>-->
							<!--<img src='/autoservice/img/7.png' class="img-responsive"/>-->
							<!--<div> Источник фото: mail.ru </div>-->
						<!--</div>						-->
						<!--<p>В Министерстве заявили, что пилотный образец «мобильного удостоверения личности» будет запущен весной следующего года, а в конце июня электронный сервис начнёт полноценную работу — это значит, что граждане Польши смогут обходиться без пластиковых удостоверений личности (компактного аналога паспортов). В октябре стартует следующий этап реформы — к системе подключат базу водительских прав, так что ношение удостоверения тоже потеряет смысл.<br/><br/>-->
						<!--Обещано, что до конца следующего года жители страны смогут отказаться от многих других документов, включая регистрационную карточку автомобиля и страховой полис.  При этом все желающие смогут продолжить использовать привычные пластиковые и бумажные бланки.</p>-->
						<!--<br/>-->
						<!--<p>Отвечая на вопросы журналистов, Стрежинская отметила, что механизм будет следующим: гражданин назовёт фамилию и личный идентификационный номер (в Польше именуемый PESEL), после чего получит на свой мобильный телефон SMS-код, который нужно показать полицейскому. После этого стражи порядка смогут увидеть всю интересующую их информацию об остановленном автомобилисте.</p>-->
					<!--</div>-->
					<!--</article>-->
					<!--<div class="pagen row">	-->
						<!--<div class='col-md-3 col-sd-5 col-xs-6 stat_prev'>-->
							<!--<a th:if="${previous!=null}" th:href="'/news/view/'+${previous.id}">-->
								<!--<img src='/autoservice/img/qw.png'/><span class='hidden-xs'> Предыдущая статья </span>-->
							<!--</a>-->
						<!--</div>-->
						<!--<div class='col-md-6 col-sd-2 col-xs-0 '></div>-->
						<!--<div class='col-md-3 col-sd-5 col-xs-6 stat_next'>-->
							<!--<a th:if="${next!=null}" th:href="'/news/view/'+${next.id}">-->
								<!--<span class='hidden-xs'> Следующая статья </span> <img src='/autoservice/img/qw2.png'/>-->
							<!--</a>-->
						<!--</div>-->
					<!--</div>	-->

					<!---->
					<!--<div class="row">-->
                        <!--<div th:each="n:${last4News}" class='col-lg-3 col-md-3 col-sd-6 col-xs-12'>-->
                            <!--<div class="other_item">-->
                                <!--&lt;!&ndash;/*@thymesVar id="n" type="com.ss.remont.entity.News"*/&ndash;&gt;-->
                                <!--<a th:href="'/news/view/'+${n.id}">-->
                                    <!--<img th:src="${n.preview_image}" class="img-responsive"/>-->
                                    <!--<div class="more_stat_date" th:text="${#dates.format(n.timestamp,'dd.MMM.yyyy')}"/>-->
                                    <!--<div class="more_stat_header" th:text="${n.title}"/>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
						<!--&lt;!&ndash;<div class='col-lg-3 col-md-3 col-sd-6 col-xs-12'>&ndash;&gt;-->
							<!--&lt;!&ndash;<div class="other_item">&ndash;&gt;-->
								<!--&lt;!&ndash;<a href="#"><img src="/autoservice/img/1.png" class="img-responsive"/></a>&ndash;&gt;-->
								<!--&lt;!&ndash;<div class="more_stat_date">28.12.2016</div>&ndash;&gt;-->
								<!--&lt;!&ndash;<div class="more_stat_header"><a href="#">НОМЕРА НОВОГО ОБРАЗЦА: ПРИДУМАН АЛЬТЕРНАТИВНЫЙ ВАРИАНТ</a></div>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
						<!--&lt;!&ndash;</div>&ndash;&gt;-->
						<!--&lt;!&ndash;<div class='col-lg-3 col-md-3 col-sd-6 col-xs-12'>&ndash;&gt;-->
							<!--&lt;!&ndash;<div class="other_item">&ndash;&gt;-->
								<!--&lt;!&ndash;<a href="#"><img src="/autoservice/img/2.png" class="img-responsive"/></a>&ndash;&gt;-->
								<!--&lt;!&ndash;<div class="more_stat_date">28.12.2016</div>&ndash;&gt;-->
								<!--&lt;!&ndash;<div class="more_stat_header"><a href="#">«МЕРСЕДЕС» РАЗРАБАТЫВАЕТ ЕЩЕ ОДИН ВНЕДОРОЖНИК</a></div>	&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
						<!--&lt;!&ndash;</div>&ndash;&gt;-->
						<!--&lt;!&ndash;<div class='col-lg-3 col-md-3 col-sd-6 col-xs-12'>&ndash;&gt;-->
							<!--&lt;!&ndash;<div class="other_item">&ndash;&gt;-->
								<!--&lt;!&ndash;<a href="#"><img src="/autoservice/img/3.png" class="img-responsive"/></a>&ndash;&gt;-->
								<!--&lt;!&ndash;<div class="more_stat_date">28.12.2016</div>&ndash;&gt;-->
								<!--&lt;!&ndash;<a href="#"><div class="more_stat_header">НОВЫЙ BENTLEY СДЕЛАЮТ НА ОСНОВЕ «ПАНАМЕРЫ»</div></a>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
						<!--&lt;!&ndash;</div>&ndash;&gt;-->
						<!--&lt;!&ndash;<div class='col-lg-3 col-md-3 col-sd-6 col-xs-12'>&ndash;&gt;-->
							<!--&lt;!&ndash;<div class="other_item">&ndash;&gt;-->
								<!--&lt;!&ndash;<a href="#"><img src="/autoservice/img/4.png" class="img-responsive"/></a>&ndash;&gt;-->
								<!--&lt;!&ndash;<div class="more_stat_date">28.12.2016</div>&ndash;&gt;-->
								<!--&lt;!&ndash;<a href="#"><div class="more_stat_header">СМАРТФОН ЗАМЕНИТ ВОДИТЕЛЬСКИЕ ПРАВА: ПРОЦЕСС НАЧАЛСЯ</div></a>&ndash;&gt;-->
							<!--&lt;!&ndash;</div>&ndash;&gt;-->
						<!--&lt;!&ndash;</div>&ndash;&gt;-->
					<!--</div>-->
				<!--</div>			-->
			</div>
		</div>

	<footer th:replace="layout::site-footer"></footer>

</body>

</html>