<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
    <title>ЧаВо</title>
    <link rel="stylesheet" type="text/css" href="../common/css/mycabinet.css"/>
</head>
<body>
<header th:replace="layout::header"></header>
<h1>Часто задаваемые вопросы</h1>
<div th:fragment="faqs" class="panel-group" id="accordion">
    <!--/*@thymesVar id="faq" type="com.ss.remont.entity.Faq"*/-->
    <div th:each="faq:${faqs}" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                   th:href="'#answer'+${faq.id}" th:utext="${faq.question}"></a>
            </h4>
        </div>
        <div th:id="'answer'+${faq.id}" class="panel-collapse collapse">
            <div class="panel-body" th:utext="${faq.answer}"></div>
        </div>
        <form th:if="${remove}!=null" th:action="@{'/faq/edit/'+${faq.id}}" method="post">
            <input type="submit" name="action" value="delete"/>
        </form>
    </div>
</div>
<footer th:replace="layout::footer"></footer>
</body>
</html>