<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin-layout::admin-header">
	<title>Просмотр обращений</title>
</head>
<body>
	<nav th:replace="admin-layout::site-head" class="container">
	</nav>
   <form name="showFeedBack" th:action="@{/admin/show-feedback}" method="post">
	   	<table id="stations" class="table">
		    <thead>
		        <tr>
		            <th>Выбор</th>
		            <th>НИК</th>
		            <th>EMAIL</th>
		            <th>Телефон</th>
		            <th>Текст обращения</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="feedback : ${listFeedBack}">
		            <td>
		               <input type="radio"  name="id" th:value="${feedback.getId()}"/>
		            </td>
		            <td th:text="${feedback.getName()}"></td>
		            <td th:text="${feedback.getEmail()}"></td>
		            <td th:text="${feedback.getPhone()}"></td>		            
		            <td th:text="${feedback.getComment()}"></td>
		        </tr>
		    </tbody>
	    </table>
	    <table id="paginator">
	      <tr>
	        <td  th:each="page : ${pages}">
	          <a th:href="${page.href}" th:text="${page.text}"></a>
	        </td>
	      </tr>
	    </table>
	    <input type="submit" value="Ответить"/>
    </form>
</body>
</html>