<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin-layout::admin-header">
    <script src="/admin/get-sms-page.js" type="application/javascript"/>
    <link href="/common/css/select2/select2.min.css" rel="stylesheet" type="text/css"/>
    <!--<link href="/autoservice/css/main.css" rel="stylesheet" type="text/css"/>-->
    <link rel="stylesheet" href="/autoservice/css/media.css"/>
    <link rel="stylesheet" href="/autoservice/css/fonts.css"/>
    <script src="/common/js/select2/select2.min.js" type="application/javascript"/>
    <title>СМС</title>
    <script>
        $(document).ready(function () {
            $('#status-add').select2({
                allowClear: true,
                placeholder: 'Статус сообщения',
                width: '100%'
            });
            $('#status-select').select2({
                allowClear: true,
                placeholder: 'Изменить статус выбранных сообщений',
                width: '100%',
                disabled: true
            });
            $('#filter select[name=phone]').select2({
                allowClear: true,
                placeholder: 'Телефон',
                width: '100%'
            });
            $('#filter select[name=status]').select2({
                allowClear: true,
                placeholder: 'Статус',
                width: '100%'
            })
        });
    </script>
</head>
<body>
<nav th:replace="admin-layout::site-head" class="container">
</nav>
<!--/*@thymesVar id="listSms" type="com.ss.remont.entity.Sms"*/-->
<div id="filter">
    <div class="col-sm-12">
        <div class="row col-sm-3">
            <select name="phone">
                <option/>
                <option th:each="phone:${phones}" th:text="${phone}" th:value="${phone}"/>
            </select>
        </div>
        <div class="row col-sm-3">
            <select name="status">
                <option/>
                <option th:each="s:${T(com.ss.remont.entity.SmsStatus).values()}" th:value="${s}"
                        th:text="${s.toString()}"/>
            </select>
        </div>
        <div class="row col-sm-2">
            <label>С:</label>
            <input name="date_start" type="date"/>
        </div>
        <div class="row col-sm-2">
            <label>По:</label>
            <input name="date_end" type="date"/>
        </div>
        <div class="row col-sm-2">
            <button class="btn btn_main" th:text="'Поиск по фильтру'" onclick="smsFilter()"/>
        </div>
    </div>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</div>
<div class="row col-md-12">
    <div class="col-md-4">
        <form id="SmsAdd" th:action="@{/admin/sms/add}" method="post">
            <div class="col-md-6">
                <input style="width: 100%" type="text" name="phone" placeholder="Телефон" required="required" maxlength="10"/>
            </div>
            <div class="col-md-6">
                <select name="status" required="required" id="status-add">
                    <option/>
                    <option th:each="s:${T(com.ss.remont.entity.SmsStatus).values()}" th:value="${s}"
                            th:text="${s.toString()}"/>
                </select>
            </div>
            <div class="col-md-12 row">
                <textarea style="width: 100%" form="SmsAdd" type="text" name="message" placeholder="Сообщение" required="required"/>
            </div>
            <!--<div class="col-md-6">-->
                <!--<label for="SmsAddDate" th:text="'Дата:'"/>-->
                <!--<input id="SmsAddDate" type="date" name="date" required="required"/>-->
            <!--</div>-->
            <!--<div class="col-md-6">-->
<!---->
                <!--<label for="SmsAddTime" th:text="'Время (необязательно):'"/>-->
                <!--<input id="SmsAddTime" type="time" name="time"/>-->
            <!--</div>-->
            <div class="col-md-12 row">
                <button class="btn" style="float: right">Добавить</button>
            </div>
        </form>
    </div>
</div>
<div class="col-sm-12">
    <table class="table col-sm-12 row" id="table">
        <tr>
            <th th:text="'Id'"/>
            <th th:text="'Телефон'"/>
            <th th:text="'Сообщение'"/>
            <th th:text="'Статус'"/>
            <th th:text="'Дата'"/>
            <th><input type="checkbox" onchange="selectAll(this)"/></th>
        </tr>
        <!--/*@thymesVar id="sms" type="com.ss.remont.entity.Sms"*/-->
        <tr th:each="sms:${listSms}">
            <td th:text="${sms.id}"/>
            <td th:text="${sms.phone}"/>
            <td th:text="${sms.message}"/>
            <td th:text="${sms.status}"/>
            <td th:text="${#dates.format(sms.timestamp,'dd.MMM.yyyy HH:mm')}"/>
            <td><input type="checkbox" th:value="${sms.id}" onchange="cbclk(this)"/></td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-2" id="btnSmsPrev">
            <button onclick="getPrevSMSPage()" th:text="'Предыдущие СМС'"/>
        </div>
        <div class="col-md-8"/>
        <div class="col-md-2" id="btnSmsNext">
            <button onclick="getNextSMSPage()" th:text="'Слудеющие СМС'"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <input type="hidden" name="init_hasNext" th:value="${listSms.hasNext()}"/>
            <select id="status-select">
                <option/>
                <!--/*@thymesVar id="s" type="com.ss.remont.entity.SmsStatus"*/-->
                <option th:each="s:${T(com.ss.remont.entity.SmsStatus).values()}" th:value="${s}"
                        th:text="${s.toString()}"/>
            </select>
            <button onclick="statusChanged()">Изменить</button>
        </div>
    </div>
    <div id="checkedIds">
    </div>
</div>
<input type="hidden" id="_csrf" name="_csrf" th:value="${_csrf.token}"/>
</body>
</html>