<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin-layout::admin-header">
	<title>Редактирование пользователей</title>
</head>
<body>
	<nav th:replace="admin-layout::site-head" class="container">
	</nav>
	
	
   <form name="searcMarks" th:action="@{/admin/search-marks}">
     <table>
       <tr>
         <td><label for="search">Введите строку для поиска</label></td>
         <td><input type='text' name='search'></input></td>
       </tr>
     </table>
     <input type="submit" value="Поиск"/>
   </form>
   <span th:if="${message}" th:text="${message}"></span>
   <form name="addMarks" th:action="@{/admin/menu-mark}">
   
        <input type="submit" name="action"  value="Добавить"></input>
        <input type="submit" name="action"  value="Удалить"></input>
		<input type="submit" name="action"  value="Редактировать"></input>
		<input type="submit" name="action"  value="Модели"></input>
	   	<table id="marks" class="table">
		    <thead>
		        <tr>
		            <th>выбор</th>
		            <th>Марка</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="markCur : ${marks}">
		            <td><input type="radio" name="id"  th:value="${markCur.getId()}"></input></td>
		            <td th:text="${markCur.getName()}"></td>
		        </tr>
		    </tbody>
	    </table>
	</form>
	    <table id="paginator">
	      <tr>
	        <td  th:each="page : ${pages}">
	          <a th:href="${page.href}" th:text="${page.text}"></a>
	        </td>
	      </tr>
	    </table>
    
    
    
</body>
</html>