<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="admin-header">
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="../common/css/styles.css"
		th:href="@{/common/css/styles.css}" />
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
	<script src="../common/js/remont.js" th:src="@{/common/js/remont.js}" type="text/javascript"></script>
	<script src="/resources/common/js/tether.min.js" type="text/javascript"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	
<meta th:include="this::head" th:remove="tag" />
</head>
<body>
<nav th:fragment="site-head" role="navigation" class="navbar navbar-default"  th:remove="tag">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Главная</a>
  </div>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Пользователи<b class="caret"></b></a>
        <ul role="menu" class="dropdown-menu">
	      <li><a href="/stations-card/get-page">Станции</a></li>
	      <li><a href="/admin/clients-card">Клиенты</a></li>
        </ul>      
      </li>
      
      
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Настройки<b class="caret"></b></a>
        <ul role="menu" class="dropdown-menu">
	      <li><a href="/admin/open-configuration">Конфигурация</a></li>
         </ul>      
      </li>
      
      <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Справочники<b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu">
	            <li><a href="/admin/search-marks">Марки Авто</a></li>
	            <li><a href="/admin/search_models">Модели Авто</a></li>
              </ul>      
       </li>
      
      
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Отчеты<b class="caret"></b></a>
        <ul role="menu" class="dropdown-menu">
	      <li><a href="/admin/report/station-balance">По балансу Станции</a></li>
        </ul>      
      </li>
      
      <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Новости<b class="caret"></b></a>
        <ul role="menu" class="dropdown-menu">
          <li><a href="/news/create">Создать</a></li>
        </ul>
      </li>
        <li><a href="/admin/sms">СМС</a> </li>
      <li><a href="/admin/feedback">Обратная Связь</a></li>
      <li><a href="/faq/edit">FAQ</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout">Выйти</a></li>
    </ul>
  </div>
</nav>
	<footer th:fragment="site-footer"> &copy; gravto.ru, 2016 </footer>
</body>
</html> 
