<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin-layout::admin-header">
	<title>Редактирование моделей</title>
</head>
<body>
	<nav th:replace="admin-layout::site-head" class="container">
	</nav>
	<form name="search" th:action="@{/admin/search-model}">
	   <table>
       <tr>
         <td><label for="search">Введите марку</label></td>
         <td><input type='text' name='markName' th:value="${markName}"></input></td>
       </tr>
     </table>
     <input type="submit" value="Поиск"/>
	</form>
	<form name="menuModel" th:action="@{/admin/menu-model}">
        <input type="submit" name="action"  value="Добавить"></input>
        <input type="submit" name="action"  value="Удалить"></input>
		<input type="submit" name="action"  value="Редактировать"></input>
		<input type='hidden' name='markName' th:value="${markName}"></input>
		<table>
		    	<thead>
			        <tr>
			            <th>Выбор</th>
			            <th>Модели</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="model : ${models}">
			            <td><input name="id" type="radio" th:value="${model.getId()}"/></td>
			            <td th:text="${model.getName()}"></td>
			        </tr>    
			    </tbody>        
		</table>
	</form>
</body>
</html>
	