<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin-layout::admin-header">
	<title>Редактирование пользователей</title>
</head>
<body>
	<nav th:replace="admin-layout::site-head" class="container">
	</nav>
	
	
   <form name="searchClientByEmail" th:action="@{/admin/search-client}">
     <table>
       <tr>
         <td><label for="search">Введите строку для поиска</label></td>
         <td><input type='text' name='search'></input></td>
       </tr>
       <tr>
         <td><label for="locked">Искать</label></td>
         <td>
           <select name="locked">
             <option value="-1">Всех</option>
             <option value="0">Активных</option>
             <option value="1">Заблокированных</option>
           </select>
         </td>
       </tr>
     </table>
     <input type="submit" value="Поиск"/>
   </form>
   
   
	   	<table id="cliets" class="table">
		    <thead>
		        <tr>
		            <th>Название сервиса</th>
		            <th>Email</th>
		            <th>Активен</th>
		            <th>Телефон</th>
		            <th>Действие</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="client : ${clients}">
		            <td th:text="${client.getName()}"></td>
		            <td th:text="${client.getEmail()}"></td>
		            <td th:text="${!client.getLocked()}"></td>
		            <td th:text="${client.getPhone()}"></td>
		            <td>
		                 <input type="hidden" name="id" th:value="${client.getId()}"/>
		                 <input type="button" name="action" class='action' value="Блокировать" onclick="updateClient(this)"></input>
		            </td>
		        </tr>
		    </tbody>
	    </table>
	    <table id="paginator">
	      <tr>
	        <td  th:each="page : ${pages}">
	          <a th:href="${page.href}" th:text="${page.text}"></a>
	        </td>
	      </tr>
	    </table>
    
    <script>
	$(document).ready(function() {
		  var locked = $('#cliets tr');
		  locked.each(function() {
			  tr = this;
			  var active = tr.cells[2].innerText;
			  showStatusForRow(this,active);
		  });
	});
	
	function showStatusForRow(row,active){
		  var clazz = 'active';
		  if(tr.cells[0].nodeName.toLowerCase()=='th')return;
		  if(active=='false'){
			  clazz='danger';
		  }
		  
		  
		  if(clazz=='danger'){
			  $( row ).removeClass("active");
			  $( row ).addClass("danger");
			  tr.cells[4].children[1].value='Активировать';
		  }else{
			  $( row ).removeClass("danger");
			  $( row ).addClass("active");
			  tr.cells[4].children[1].value='Блокировать';
		  }
		  
	}
	
	
	function updateClient(row){
	  
	  var td = $(row.parentNode);
	  var id = td.children()[0].value;
	  var url = '/admin/save-client?id=' + id;
	  $.getJSON( url, function( data ) {
		  var client = data;
		  tr = $('input[value="' + id + '"]').parent().parent()[0];
		  tr.cells[2].innerText = !client.locked;
		  showStatusForRow(tr,new String(!client.locked));
		});
	  
	  
	}
	
	</script>
    
</body>
</html>