<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
    <meta charset="UTF-8"/>
    <title>Акции</title>
    <script src="../common/js/jquery-3.1.1.min.js"></script>
    <link href="../common/css/select2/select2.css" rel="stylesheet" type="text/css"/>
    <script src="../common/js/select2/select2.full.js"></script>
    <link href="../common/css/discount.css" type="text/css" rel="stylesheet"/>
    <script src="../common/js/discounts.filter.js"></script>
    <script>$(document).ready(function () {
        $('#station').select2({
            placeholder: 'Выберите станцию',
            width:'30%',
            allowClear: true
        });
    })</script>
</head>
<body>
<header th:replace="layout::site-header"></header>

	<div class="grey_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb_new">
						<li><a href="/">Главная</a> / </li>
						<li>Акции</li>
					</ul>
					<div class="page_title">
						<h1>Акции</h1>
					</div>
				</div>
			</div>
			<div class="min-height">					
				<div class="row">
                    <div th:replace="layout::discounts"></div>
					<!--<div class="col-md-4 col-sm-4" th:if="${discount}!=null" th:each="discount:${discounts}">-->
	                    <!--<div class="predlozh_item">-->
	                        <!--<div class="border_bot">-->
	                            <!--<div class="logo_comp">-->
	                                <!--<img th:src="'/images/?filename='+${discount.station.photo}" onerror="this.src='/common/images/unknown.m.jpg'"/>-->
	                            <!--</div>-->
	                            <!--<div class="raiting">-->
	                                <!--<div>-->
	                                	<!--<a th:href="'/station/'+${discount.station.id}" th:utext="${discount.station.name}">Автолоцман</a>-->
	                                <!--</div>-->
	                                <!--<div class="zvezda" th:if="${discount.station.rating}!=null">-->
	                                    <!--<img th:src="${discount.station.rating}>0?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>-->
	                                    <!--<img th:src="${discount.station.rating}>1?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>-->
	                                    <!--<img th:src="${discount.station.rating}>2?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>-->
	                                    <!--<img th:src="${discount.station.rating}>3?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>-->
	                                    <!--<img th:src="${discount.station.rating}>4?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>-->
	                                <!--</div>-->
	                                <!--<div class="zvezda" th:if="${discount.station.rating}==null" th:utext="'Оценок нет'"></div>-->
	                            <!--</div>-->
	                        <!--</div>-->
	                        <!--<div class="predlozh_two">-->
	                            <!--<img th:src="'/images/?filename='+${discount.photo}" onerror="this.src='/common/images/unknown.m.jpg'"/>-->
	                            <!--<div>-->
	                                <!--<a th:href="'/station/'+${discount.station.id}" th:utext="${discount.title}"></a>-->
	                            <!--</div>-->
	                        <!--</div>-->
	                    <!--</div>-->
	                <!--</div>				-->
				</div>
			</div>			
		</div>
	</div>

	<div hidden="hidden">
	    <select id="station" onchange="stationChanged(this,'discounts')">
	        <option value=""/>
	        <!--/*@thymesVar id="stations" type="com.ss.remont.entity.Station"*/-->
	        <!--/*@thymesVar id="station" type="com.ss.remont.entity.Station"*/-->
	        <option th:each="station:${stations}" th:value="${station.id}" th:utext="${station.name}"/>
	    </select>
        <div th:replace="layout::discounts">

        </div>
	    <!--<div id="discounts" th:fragment="discounts">-->
	        <!--&lt;!&ndash;/*@thymesVar id="discounts" type="com.ss.remont.entity.Discount"*/&ndash;&gt;-->
	        <!--&lt;!&ndash;/*@thymesVar id="discount" type="com.ss.remont.entity.Discount"*/&ndash;&gt;-->
	        <!--<div th:if="${discounts}!=null" th:each="discount:${discounts}" class="discount">-->
	            <!--<img th:src="'/images/?filename='+${discount.photo}" onerror="this.src='../common/images/discount.png'"/>-->
	            <!--<a th:href="'station/'+${discount.station.id}+'#discount'+${discount.id}" th:utext="${discount.station.name}"/>-->
	            <!--<h1 th:utext="${discount.title}" />-->
	            <!--<h2 th:utext="${discount.info}" />-->
	            <!--<h3 th:utext="' Акция действует с '+${discount.date_start}+' по '+${discount.date_end}"/>-->
	        <!--</div>-->
	    <!--</div>-->
	</div>
	<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

<footer th:replace="layout::site-footer"></footer>
</body>
</html>