<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="discount" type="com.ss.remont.entity.Discount"*/-->
<head th:replace="layout::site-head">
    <title th:text="${discount.title}"/>
</head>
<body>
<header th:replace="layout::site-header"></header>
<div class="grey_bg">
    <div class="container">
        <img th:src="'/images/?filename='+${discount.photo.pathLarge}"/>
        <div/><a th:href="'/station/'+${discount.station.id}" th:text="'Станция: '+${discount.station.name}"/>
        <div th:text="${discount.title}"/>
        <div th:text="${discount.info}"/>
        <div th:text="'Акция действует с '+${#dates.format(discount.date_start,'dd.MMM.yyyy')}+' по '+${#dates.format(discount.date_end,'dd.MMM.yyyy')}"/>
    </div>
</div>

<div th:replace="layout::footer"/>
</body>
</html>