﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
		<div th:if="${#authorization.expression('hasRole(''CLIENT'')')}">
            This will only be displayed if authenticated user has role CLIENT.
        </div>
		<div sec:authorize="hasRole('CLIENT')">
		        This will only be displayed if authenticated user has role CLIENT.
		</div>
		
		<p th:each="au : ${#authentication.principal.authorities}">
		   <h1 th:inline="text">[[${au}]]!</h1>  
		</p>
		
		<h1 th:inline="text">Hello1 [[${#strings.contains(#authentication.principal.authorities,'CLIENT')}]]!</h1>
		 <h1 th:inline="text">Hello1 [[${#authorization.expression('hasRole(''CLIENT'')')}]]!</h1>        
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>