﻿<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--<![endif]-->
<head th:replace="layout::site-head">

    <title>Главная</title>

    <script src="/resources/common/js/jquery.validate.min.js"></script>
    <script src="/resources/common/js/additional-methods.min.js"></script>
    <script src="/resources/common/js/map-point-find.js"></script>
    <link href="/resources/common/css/select2/select2.min.css" type="text/css" rel="stylesheet"/>
    <script src="/resources/common/js/select2/select2.min.js"></script>
    <script src="/common/js/select2/i18n/ru.js" type="text/javascript"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=tr_TR" type="text/javascript"></script>
    <script src="../common/js/bid.js"></script>
    <script>
        $(document).ready(function () {
            $('#main_form select[name=location]').select2();
        })
    </script>
    <!--<script src="../common/js/rate_star.js"/>-->
</head>
<body>
<header th:replace="layout::site-header"></header>
<div class="content">
    <div class="big_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form id="main_form" class="main_form" action="/new-bid/createBid" method="post"
                          enctype="multipart/form-data">
                        <div class="form_item">
                            <p class="zagolovok">Категория станции</p>
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="nice_select">
                                        <select id="stationCategory" name="stationCategory"
                                                onchange="stationCategoryChanged()">
                                            <option th:each="stationCategory:${stationCategories}"
                                                    th:text="${stationCategory.toString()}"
                                                    th:value="${stationCategory}"/>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_item">
                            <p class="zagolovok">Ваш автомобиль</p>
                            <div class="row">
                                <div class="col-md-5 col-sm-5">
                                    <div class="nice_select">
                                        <select name="mark" id="mark" onchange="markChanged(this.id,'model')">
                                            <option value="">--Марка--</option>
                                            <option th:each="mark:${carMarks}" th:value="${mark.id}"
                                                    th:utext="${mark.name}" th:selected="${markId == mark.id}"/>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="nice_select">
                                        <select name="model" id="model">
                                            <option value="">--Модель--</option>
                                            <option th:each="model:${carModels}" th:value="${model.id}"
                                                    th:utext="${model.name}" th:selected="${modelId == model.id}"/>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="nice_select">
                                        <select name="year" id="year">
                                            <option value="">--Год--</option>
                                            <option th:each="year:${years}" th:value="${year}" th:utext="${year}"
                                                    th:selected="${yearId == year}"/>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form_item">
                            <p class="zagolovok">Требуется</p>
                            <textarea name="type_work" id="type_work" maxlength="255" rows="3"
                                      placeholder="Например: Замена масла, замена ремня ГРМ..."></textarea>
                            <div class="row margin_top" hidden="hidden">
                                <div class="col-md-6 col-sm-6">
                                    <input type="checkbox" name="sto" id="sto" hidden="hidden"/><label
                                        for="sto">СТО</label>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <input type="checkbox" name="fl" id="fl" hidden="hidden"/><label
                                        for="fl">Фрилансеры</label>
                                </div>
                            </div>
                            <div class="row margin_top">
                                <div class="col-md-6 col-sm-6">
                                    <input type="checkbox" name="evacuator" id="evacuator" hidden="hidden"/><label
                                        id="evacuator_label"
                                        for="evacuator">Требуется эвакуатор</label>
                                </div>
                                <div class="col-md-6 col-sm-6" id="own_parts_div">
                                    <input type="checkbox" name="own_parts" id="own_parts" hidden="hidden"/><label
                                        for="own_parts">Свои запчасти</label>
                                </div>
                            </div>
                        </div>
                        <div class="form_item">
                            <p class="zagolovok">Предполагаемая дата проведения работ</p>
                            <div class="row">
                                <div class="col-md-7 col-sm-7">
                                    <input type="date" name="desired_date" class="calendar"/>
                                </div>
                                <div class="col-md-5 col-sm-5">
                                    <input type="checkbox" name="quickly" id="quickly" hidden="hidden"/><label
                                        for="quickly">Срочно</label>
                                </div>
                            </div>
                        </div>
                        <div class="form_item">
                            <p class="zagolovok">Ваше месторасположение</p>
                            <!--<input type="text" name="location" class="address" placeholder="Пензенская обл., г. Пенза"/>-->
                            <select name="location" class="address">
                                <option th:each="city:${cities}" th:text="${city.name}" th:value="${city.name}"
                                        th:selected="${station!=null}?(${station.city.equals(city)}?'selected':null):null"
                                        th:disabled="${station!=null}?(${station.city.equals(city)}?'selected':null):null"/>
                            </select>
                        </div>
                        <div class="form_item" sec:authorize="!isAuthenticated()">
                            <p class="zagolovok">Ваши контакты</p>
                            <div class="row">
                                <div class="col-md-4 col-sm-4"><input type="text" name="name" placeholder="Имя"/></div>
                                <div class="col-md-4 col-sm-4"><input type="text" name="email" placeholder="E-mail"/>
                                </div>
                                <div class="col-md-4 col-sm-4"><input type="text" name="phone" placeholder="Телефон"/>
                                </div>
                            </div>
                        </div>
                        <div class="form_item" id="image_div" hidden="hidden">
                            <p class="zagolovok">Фотографии автомобиля</p>
                            <div class="row">
                                <div><input type="file" name="image" multiple="multiple"/></div>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                        <button sec:authorize="!isAuthenticated() || hasAuthority('CLIENT')" class="btn bold"
                                style="margin-top: 30px;">Отправить заявку
                        </button>
                        <button sec:authorize="!(!isAuthenticated() || hasAuthority('CLIENT'))" class="btn bold"
                                style="margin-top: 30px;" disabled="disabled">Отправить заявку
                        </button>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="how_work">
                        <h2 class="bold">КАК РАБОТАЕТ GRAND SERVISE?</h2>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-4">
                                <div class="list_item">
                                    <div class="list bold">1.</div>
                                </div>
                                <div class="list_item">
                                    <div class="list bold">2.</div>
                                </div>
                                <div class="list_item">
                                    <div class="list bold">3.</div>
                                </div>
                                <div class="list_item">
                                    <div class="list bold">4.</div>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-8">
                                <div class="list_item">
                                    <span class="bold">Создайте заявку</span>
                                </div>
                                <div class="list_item">
                                    <span>Выберите удобный для Вас вариант</span>
                                </div>
                                <div class="list_item">
                                    <span>Едете на регистрацию</span>
                                </div>
                                <div class="list_item">
                                    <span>Забираете верного коня</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="border_gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="item_landing">
                        <img src="autoservice/img/advantage1.png"/>
                        <!--/*@thymesVar id="count_stations" type="java.lang.Integer"*/-->
                        <div class="land_green" th:utext="${count_stations}"></div>
                        <div>зарегистрировано <br/>автосервисов</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="item_landing">
                        <img src="autoservice/img/advantage2.png"/>
                        <!--/*@thymesVar id="count_clients" type="java.lang.Integer"*/-->
                        <div class="land_green" th:utext="${count_clients}"></div>
                        <div>клиентов, которые <br/>нам доверяют</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="item_landing">
                        <img src="autoservice/img/advantage3.png"/>
                        <!--/*@thymesVar id="count_bids" type="java.lang.Integer"*/-->
                        <div class="land_green" th:utext="${count_bids}"></div>
                        <div>заявок в работе</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg_grey">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="title">Посление заявки</div>
                    <div class="zayavkabox">
                        <!--/*@thymesVar id="last10Bids" type="com.ss.remont.entity.Bid"*/-->
                        <!--/*@thymesVar id="bid" type="com.ss.remont.entity.Bid"*/-->
                        <div class="row item_zayavka" th:each="bid:${last10Bids}">
                            <div class="col-md-3 col-sm-4 col-xs-4 name">
                                <div th:utext="${bid.car.mark.name}+' '+${bid.car.model.name}" th:maxlength="10"></div>
                                <div>
                                    <span th:utext="${bid.station!=null}?${bid.station.name}:'Все станции'"></span>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-8 col-xs-8 description">
                                <div th:utext="${bid.content}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 article_box">
                    <div class="title">Статьи</div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="article_item" th:if="${news}!=null" th:each="news:${newsRow1}">
                                <div class="image_box">
                                    <a th:href="'/news/view/'+${news.id}">
                                        <img th:src="${news.preview_image==null}?'/common/images/press.jpg':'/images/?filename='+${news.preview_image.pathMedium}"
                                             style="max-height: 100%" onerror="this.src='/common/images/press.jpg'"/>
                                    </a>
                                </div>
                                <div class="date" th:utext="${#dates.format(news.timestamp, 'dd.MMM.yyy HH:mm')}"></div>
                                <a th:href="'/news/view/'+${news.id}" class="description" th:utext="${news.title}"></a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="article_item" th:if="${news}!=null" th:each="news:${newsRow2}">
                                <div class="image_box">
                                    <a th:href="'/news/view/'+${news.id}">
                                        <img th:src="${news.preview_image==null}?'/common/images/press.jpg':'/images/?filename='+${news.preview_image.pathMedium}"
                                             style="max-height: 100%" onerror="this.src='/common/images/press.jpg'"/>
                                    </a>
                                </div>
                                <div class="date" th:utext="${#dates.format(news.timestamp, 'dd.MMM.yyy HH:mm')}"></div>
                                <a th:href="'/news/view/'+${news.id}" class="description" th:utext="${news.title}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="all_articles" href="/news">ВСЕ СТАТЬИ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row predlozh">
                <div class="col-md-12">
                    <a href="/discounts/">
                        <div class="title">
                            Выгодные предложения и скидки
                        </div>
                    </a>
                    <div class="row">
                        <!--/*@thymesVar id="discounts" type="com.ss.remont.entity.Discount"*/-->
                        <!--/*@thymesVar id="discount" type="com.ss.remont.entity.Discount"*/-->
                        <div th:replace="layout::discounts"></div>
                        <!--<div class="col-md-4 col-sm-4" th:if="${discount}!=null" th:each="discount:${discounts}">-->
                        <!--<div class="predlozh_item">-->
                        <!--<div class="border_bot">-->
                        <!--<div class="logo_comp">-->
                        <!--<img th:src="'/images/?filename='+${discount.station.photo}" style="height: 60px; width: 60px;" onerror="this.src='/common/images/unknown.m.jpg'"/>-->
                        <!--</div>-->
                        <!--<div class="raiting">-->
                        <!--<div th:utext="${discount.station.name}"></div>-->
                        <!--<div class="zvezda" th:if="${discount.station.rating}!=null">-->
                        <!--<img th:src="${discount.station.rating}>0?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>-->
                        <!--<img th:src="${discount.station.rating}>1?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>-->
                        <!--<img th:src="${discount.station.rating}>2?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>-->
                        <!--<img th:src="${discount.station.rating}>3?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>-->
                        <!--<img th:src="${discount.station.rating}>4?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>-->
                        <!--</div>-->
                        <!--<div class="zvezda" th:if="${discount.station.rating}==null" th:utext="'Оценок нет'"></div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="predlozh_two">-->
                        <!--<img th:src="'/images/?filename='+${discount.photo.pathSmall}" style="height: 60px; width: 60px;" onerror="this.src='/common/images/unknown.m.jpg'"/>-->
                        <!--<div>-->
                        <!--<a th:href="'/station/'+${discount.station.id}" th:utext="${discount.title}"></a>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->

                        <!--&lt;!&ndash;/*@thymesVar id="discountRow2" type="com.ss.remont.entity.Discount"*/&ndash;&gt;-->
                        <!--<div class="col-md-4 col-sm-4" th:if="${discount}!=null" th:each="discount:${discountRow2}">-->
                        <!--<div class="predlozh_item">-->
                        <!--<div class="border_bot">-->
                        <!--<div class="logo_comp">-->
                        <!--<img th:src="'/images/?filename='+${discount.station.photo}" style="max-height: 60px; max-width: 60px;"/>-->
                        <!--</div>-->
                        <!--<div class="raiting">-->
                        <!--<div class="zvezda" th:if="${discount.station.rating}!=null">-->
                        <!--<img th:src="${discount.station.rating}>0?'autoservice/img/zvezda_1.png':'autoservice/img/zvezda_null.png'"/>-->
                        <!--<img th:src="${discount.station.rating}>1?'autoservice/img/zvezda_1.png':'autoservice/img/zvezda_null.png'"/>-->
                        <!--<img th:src="${discount.station.rating}>2?'autoservice/img/zvezda_1.png':'autoservice/img/zvezda_null.png'"/>-->
                        <!--<img th:src="${discount.station.rating}>3?'autoservice/img/zvezda_1.png':'autoservice/img/zvezda_null.png'"/>-->
                        <!--<img th:src="${discount.station.rating}>4?'autoservice/img/zvezda_1.png':'autoservice/img/zvezda_null.png'"/>-->
                        <!--</div>-->
                        <!--<div class="zvezda" th:if="${discount.station.rating}==null" th:utext="'Оценок нет'"/>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="predlozh_two">-->
                        <!--<img th:src="'/images/?filename='+${discount.photo}" style="height: 60px; width: 60px;"/>-->
                        <!--<div>-->
                        <!--<a th:href="'/station/'+${discount.station.id}" th:utext="${discount.title}"/>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout::site-footer"></footer>

<!--
	<script src="autoservice/libs/jquery/jquery-1.11.1.min.js" type="text/html"></script>
	<script src="libs/fancybox/jquery.fancybox.pack.js"></script>
	<script src="libs/scrollto/jquery.scrollTo.min.js"></script>
	<script src="libs/owl-carousel/owl.carousel.min.js"></script>
	<script src="libs/landing-nav/navigation.js"></script>
	<script src="autoservice/libs/bootstrap-toolkit/bootstrap-toolkit.min.js" type="text/html"></script>
-->
<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</body>
</html>