﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head th:replace="layout::site-head">
        <title>Авторизация</title>
    </head>
    <body>
    	<header th:replace="layout::site-header"></header>
        <div th:if="${param.error}">
            Неверное имя пользователя или пароль.
        </div>
        <div th:if="${param.logout}">
            Выход успешно осуществлен. Ждем вас снова!
        </div>
		<div>
			<div class="modal-dialog modal-xs">
				<div class="modal-content">
					<div class="modal-header">
						<div class="row">
							<div class="col-md-3 col-sm-3 col-xs-3"></div>
							<div class="col-md-6 col-sm-6 col-xs-6">							
								<h4 class="modal-title">Вход на сайт</h4>
							</div>
						</div>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-2 col-sm-2"></div>
							<div class="col-md-8 col-sm-8">
								<div class="enter_form row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<form th:action="@{/login}" method="post">
											<input type="text" placeholder="Телефон" name="phone"/>
											<input type="password" placeholder="Пароль" name="password"/>
											<div class="enter_form_a"><a href="/repair-password">Забыли пароль?</a></div>
											<div class="enter_form_label">
												<input type="checkbox" name="remember-me-param" id="remember" hidden="hidden"></input>
												<label for="remember"> Запомнить меня</label>
											</div>
											<button class="btn bold in_width btn_main">Войти</button>
											<a class="enter_registration" th:href="@{/registration/}">Регистрация</a>
										</form>
									</div>
								</div>
								<div class="enter_soc row" hidden="hidden">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="title">Вход через соц. сети</div>
										<div>
											<a class="enter_fb" href="#"></a>
											<a class="enter_vk" href="#"></a>
											<a  class="enter_gl" href="#"></a>
										</div>
									</div>
								</div>							
							</div>
							<div class="col-md-2 col-sm-2"></div>
						</div>
					</div>
				</div>
			</div>
		</div>		        
        
        
        <footer th:replace="layout::site-footer"></footer>
    </body>
</html>