﻿<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
    <title>Карта</title>
    <script src="/common/js/jquery-3.1.1.min.js" type="application/javascript"></script>
    <link href="/common/css/select2/select2.min.css" rel="stylesheet" type="text/css"/>
    <script src="/common/js/select2/select2.min.js" type="application/javascript"></script>
    <!--Скрипт для инициализации карты-->
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="/common/js/map_init.js" type="text/javascript"></script>
    <script src="/common/js/map.repairType.filter.js" type="application/javascript"></script>
    <script>
         ymaps.ready(function () {
             init("station");
         });
    </script>

</head>
<body>

<header th:replace="layout::site-header"></header>

<div>
	<select id="filter" multiple="multiple" onchange="sendFilter()" style="width: 100%;">
	    <option th:each="rt:${repairTypes}" th:value="${rt.id}" th:utext="${rt.name}"/>
	</select>
</div>
<!--Создание дива с картой-->
<div id="map" style="width: 100%; height: 605px"></div>

<!--Скрипт для изменения размеров карты в момент изменения размера окна-->
<script>
    $(document).ready(function () {
        $('#filter').select2({
            allowClear: true,
            placeholder: 'Виды ремонтных работ'
        });
        var filter = document.getElementById('filter');
        filter.style.top='0';
    });
</script>

<input type="hidden" th:value="${_csrf.token}" th:name="_csrf"/>
<footer th:replace="layout::site-footer"></footer>

</body>
</html>