<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
    <title>Мои автомобили</title>
    <link rel="stylesheet" type="text/css" href="../common/css/mycars.css"/>
    <link rel="stylesheet" type="text/css" href="../common/css/home.css"/>
    <link rel="stylesheet" type="text/css" href="../common/css/select2/select2.min.css"/>
    <script src="../common/js/select2/select2.min.js"/>
    <script src="../common/js/bid.js"/>
    <script src="../common/js/mycabinet_edit.js"/>
    <script>
        $(document).ready(
                function () {
                    $("#bid_carmark").select2({
                        placeholder: "Марка",
                        allowClear: true,
                        width: "40%"
                    });
                    $("#bid_carmodel").select2({
                        placeholder: "Модель",
                        allowClear: false,
                        width: "40%"
                    });
                    $("#bid_repairtypes").select2({
                        placeholder: "Выберите виды работ",
                        allowClear: true,
                        width: "96%"
                    });
                setMaxYear("#bid_year");
                }
        );
    </script>
</head>
<body>
<div th:fragment="mycars" id="mycars">
    <!--<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>-->
<!--/*@thymesVar id="cars" type="com.ss.remont.entity.Car"*/-->
<div th:each="car:${cars}" th:id="'car'+${car.id}" class="carblock">

    <!--Этот инпут обязательно самым первым объявлять, т.к. иначе он сместится вертикально вниз и будет не ок-->
    <button class="deleteButton" value="Удалить" th:onclick="'carDelete(\'car'+${car.id}+'\')'"/>

    <!--Присваивается картинка "логотип", если есть в common/images/ есть картинка с названием
    марки .png (например audi.png), то вернет эту картинку, иначе плейсхолдер 116х116 с сайтика-->
    <img th:src="'../common/images/'+${car.getMark().getName()}+'.png'"
         onerror="this.src='http://placehold.it/116x116'"/>
    <!--Вывод текста -->
    <div th:utext="'Марка: '+${car.getMark().getName()}"/>
    <div th:utext="'Модель: '+${car.getModel().getName()}"/>
    <div th:utext="'Год: '+${car.getYear().year}"/>
    <div th:utext="'Цвет: '+${car.getColor()}"/>
    <div th:utext="'Регистрационный номер: '+${car.getRegNumber()}"/>

    <!--Скрытые от пользователя инпуты, значения которых будем получать в проге при нажатой кнопку Удалить-->
    <input type="hidden" name="carID" th:value="${car.getId()}"/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <script>
        function deleteForm()
        {
            alert("delete pressed");
            this.getParent().remove();
        }
    </script>

</div>
</div>
<div th:fragment="addCar" id="addCar" name="addCar" th:action="@{mycars/addCar}">
    <h3>Добавить</h3>
    <select id="bid_carmark" name="carMarkID"
            onchange="markChanged(this.id,'bid_carmodel')"
            required="required">
        <option value=''/>
        <!--/*@thymesVar id="carMarks" type="com.ss.remont.entity.CarMark"*/-->
        <option th:each="mark:${carMarks}" th:value="${mark.id}" th:utext="${mark.name}"/>
    </select>

    <select id="bid_carmodel" name="carModelID"
            onchange="modelChanged()"
            required="required">
        <option value=''/>
    </select>
    <input type="number" id="bid_year" min="1950" placeholder="Год" name="year"/>
    <input id="bid_color" name="color" placeholder="Цвет"/>
    <input id="bid_regNumber" placeholder="Регистрационный номер" name="regNumber"/>
    <button th:utext="Добавить" onclick="carAdd('addCar','mycars')"/>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
</div>
</body>
</html>