<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--<![endif]-->
<head th:replace="layout::site-head">
    <title>Подать заявку</title>
    <link href="/common/css/select2/select2.min.css" rel="stylesheet" type="text/css"/>
    <script src="/resources/common/js/jquery.validate.min.js"></script>
    <script src="/resources/common/js/additional-methods.min.js"></script>
    <script src="/common/js/select2/select2.min.js" type="application/javascript"></script>
    <script src="../common/js/bid.js"></script>
    <script>
        $(document).ready(function () {
            $('#main_form select[name=location]').select2();
        })
    </script>
</head>
<body>
<header th:replace="layout::site-header"></header>
<div class="grey_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb_new">
                    <li><a href="/">Главная</a> /</li>
                    <li>Новая заявка</li>
                </ul>
                <div class="page_title">
                    <h1>Заявка на оценку стоимости ремонта</h1>
                </div>
            </div>
        </div>
        <!--/*@thymesVar id="station" type="com.ss.remont.entity.Station"*/-->
        <div class="row">
            <div class="col-md-12">
                <form id="main_form" action="/new-bid/createBid" method="post" enctype="multipart/form-data">
                    <div class="form_item">
                        <p class="zagolovok">Категория станции</p>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="nice_select">
                                    <select id="stationCategory" name="stationCategory"
                                            onchange="stationCategoryChanged()">
                                        <option th:each="stationCategory:${stationCategories}"
                                                th:text="${stationCategory.toString()}"
                                                th:value="${stationCategory}"/>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form_item" th:if="${station}!=null">
                        <p class="zagolovok">Выбранная станция</p>
                        <input type="text" name="station" id="station" th:value="${station.id}" hidden="hidden"/>
                        <div class="border_bot">
                            <div class="logo_comp">
                                <img th:src="${station.photo!=null}?'/images/?filename='+${station.photo.pathSmall}:'/common/images/unknown.m.jpg'"
                                     style="max-height: 60px; max-width: 60px;"
                                     onerror="this.src='/common/images/unknown.m.jpg'"/>
                            </div>
                            <div class="raiting">
                                <div th:utext="${station.name}"></div>
                                <div class="zvezda" th:if="${station.rating}!=null">
                                    <img th:src="${station.rating}>0?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
                                    <img th:src="${station.rating}>1?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
                                    <img th:src="${station.rating}>2?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
                                    <img th:src="${station.rating}>3?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
                                    <img th:src="${station.rating}>4?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
                                </div>
                                <div class="zvezda" th:if="${station.rating}==null" th:utext="'Оценок нет'"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form_item">
                        <p class="zagolovok">Ваш автомобиль</p>
                        <div class="row" th:if="${cars}!=null">
                            <div class="col-md-6 col-sm-6">
                                <select name="car" id="car">
                                    <option th:each="car:${cars}" th:value="${car.id}"
                                            th:utext="${car}"/>
                                </select>
                            </div>
                        </div>
                        <div class="row" th:if="${cars}==null">
                            <div class="col-md-5 col-sm-5">
                                <div class="nice_select">
                                    <select name="mark" id="mark" onchange="markChanged(this.id,'model')">
                                        <option value="">Марка</option>
                                        <option th:each="mark:${carMarks}" th:value="${mark.id}"
                                                th:utext="${mark.name}"/>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="nice_select">
                                    <select name="model" id="model">
                                        <option>Модель</option>
                                        <option th:each="model:${carModels}" th:value="${model.id}"
                                                th:utext="${model.name}"/>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <div class="nice_select">
                                    <select name="year" id="year">
                                        <option>Год</option>
                                        <option th:each="year:${years}" th:value="${year}" th:utext="${year}"/>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form_item">
                        <p class="zagolovok">Требуется</p>
                        <textarea name="type_work" id="type_work" maxlength="255" rows="3"
                                  placeholder="Например: Замена масла, замена ремня ГРМ"></textarea>
                    </div>
                    <div class="form_item" hidden="hidden">
                        <p class="zagolovok">Фильтр(заявка будет отправлена только станциям, с выбранными
                            свойствами)</p>
                        <div class="row margin_top">
                            <div class="col-md-6 col-sm-6">
                                <input type="checkbox" name="sto" id="sto" hidden="hidden"/><label for="sto">СТО</label>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <input type="checkbox" name="fl" id="fl" hidden="hidden"/><label
                                    for="fl">Фрилансеры</label>
                            </div>
                        </div>
                        <select id="filter" multiple="multiple">
                            <option value=""/>
                            <option th:each="rt:${repairTypes}" th:value="${rt.id}" th:utext="${rt.name}"/>
                        </select>
                    </div>
                    <div class="form_item">
                        <p class="zagolovok">Дополнительная информация</p>
                        <div class="row">
                            <div class="col-md-3 col-sm-3" >
                                <input type="checkbox" name="evacuator" id="evacuator" hidden="hidden"/><label
                                    for="evacuator" id="evacuator_label">Нужен эвакуатор</label>
                            </div>
                            <div class="col-md-3 col-sm-3" id="own_parts_div">
                                <input type="checkbox" name="own_parts" id="own_parts" hidden="hidden"/><label
                                    for="own_parts">Свои запчасти</label>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <input type="date" name="desired_date" class="calendar"/>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <input type="checkbox" name="quickly" id="quickly" hidden="hidden"/><label
                                    for="quickly">Срочно</label>
                            </div>
                        </div>
                    </div>
                    <div class="form_item">
                        <p class="zagolovok">Ваше месторасположение</p>
                        <!--<input type="text" name="location" class="address" placeholder="Пензенская обл., г. Пенза"/>-->
                        <select name="location" class="address">
                            <option th:each="city:${cities}" th:text="${city.name}" th:value="${city.name}" th:selected="${station!=null}?(${station.city.equals(city)}?'selected':null):null"
                            th:disabled="${station!=null}?(${station.city.equals(city)}?'selected':null):null"/>
                        </select>
                    </div>
                    <div class="form_item" sec:authorize="!isAuthenticated()">
                        <p class="zagolovok">Ваши контакты</p>
                        <div class="row">
                            <div class="col-md-4 col-sm-4"><input type="text" name="name" placeholder="Имя"/></div>
                            <div class="col-md-4 col-sm-4"><input type="text" name="email" placeholder="E-mail"/></div>
                            <div class="col-md-4 col-sm-4"><input type="text" name="phone" placeholder="Телефон"/></div>
                        </div>
                    </div>
                    <div class="form_item" id="image_div" hidden="hidden">
                        <p class="zagolovok">Фотографии автомобиля</p>
                        <div class="row">
                            <div><input type="file" name="image" multiple="multiple"/></div>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <button sec:authorize="!isAuthenticated() || hasAuthority('CLIENT')" class="btn bold"
                            style="margin-top: 30px;">Отправить заявку
                    </button>
                    <button sec:authorize="!(!isAuthenticated() || hasAuthority('CLIENT'))" class="btn bold"
                            style="margin-top: 30px;" disabled="disabled">Отправить заявку
                    </button>
                </form>
            </div>
        </div>
    </div>
    <br/><br/>
</div>
<footer th:replace="layout::site-footer"></footer>
</body>
</html>