<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin-layout::admin-header">
	<title>Ремонт</title>
	<script src="/resources/common/js/stations-card.js"></script>
</head>
<body>
	<nav th:replace="admin-layout::site-head" class="container">
	</nav>
  <form name="saveConfig" th:action="@{/admin/save-configuration}" >
    
    <textarea  style="width:500px" name="configuration" th:text="${config}">
    </textarea>
    
    <input type="submit" value="Сохранить"/>  
  </form>
</body>
</html>