<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin-layout::admin-header">
	<title>Ремонт</title>
	<script src="/resources/common/js/stations-card.js"></script>
</head>
<body>
	<nav th:replace="admin-layout::site-head" class="container">
	</nav>
      <!--/*@thymesVar id="station" type="com.ss.remont.entity.Station"*/-->
  <form name="saveStation" th:action="@{/stations-card/close-station}" >
      <div th:if="${station.stationDirector!=null}" th:with="director=${station.stationDirector}">
          <p th:text="'Руководитель:'"/>
          <div th:text="'Ф.И.О.: '+${director.lastName+' '+director.firstName+' '+director.patronymic}"/>
          <div th:text="'Контактный телефон: '+${director.phoneNumber}"/>
          <div th:text="'Адрес электронной почты: '+${director.email}"/>
      </div>
    <p th:utext="${station.getFullInfo()}">
    </p>
    <label for="locked">Активирован</label><input type="checkbox" name="locked" value='true' th:checked="${!station.getLocked()}"/>
    <input type="hidden" name="idStation" th:value="${station.getId()}"/>
    <p th:text="${station.getBalance()}">
    </p>
    <table style="border:solid 1px #000000">
      <tr>
        <th colspan='2'>Изменить баланс</th>
      </tr>
      <tr>
        <td>Укажите Сумму изменения</td>
        <td><input type="text" name="changeSum" ></input></td>
      </tr>
      <tr>
        <td><label for="balance">Комментарий</label></td>
        <td><textarea  name="comment" ></textarea></td>
      </tr>
      <tr>
        <td><label for="password">Платежный пароль</label></td>
        <td><input type="password" name="password" ></input></td>
      </tr>
    </table>
    
    <input type="submit" value="Сохранить"/>  
  </form>
</body>
</html>