<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
    <title>Поиск по сайту</title>
</head>
<body>
<header th:replace="layout::site-header"></header>
	<div class="grey_bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul class="breadcrumb_new">
						<li><a href="/">Главная</a> / </li>
						<li>Поиск</li>
					</ul>
					<div class="page_title">
						<h1>Результаты поиска</h1>
					</div>
				</div>
			</div>
		<div id="search_form">
		
		    <!--<input type="text" id="search_field" placeholder="Ищите что-нибудь?" oninput="searchByInput()"/>-->
		
		    <ul class="nav nav-tabs" th:if="${news}!=null">
		        <!--'Новости'+(${news!=null})?'('+#lists.size(news)+')':''-->
		        <li class="active"><a data-toggle="tab" href="#news" th:utext="'Новости ('+${#lists.size(news)}+')'"></a></li>
		        <li><a data-toggle="tab" href="#stations" th:utext="'Станции ('+${#lists.size(stations)}+')'"></a></li>
		        <li><a data-toggle="tab" href="#discounts" th:utext="'Акции ('+${#lists.size(discounts)}+')'"></a></li>
		        <!--<li><a data-toggle="tab" href="#users">Пользователи</a></li>-->
		    </ul>
		    <div th:if="${news}==null">По вашему запросу ничего не найдено</div>
		
		    <div class="tab-content">
		        <div id="news" class="tab-pane fade in active">
		        	<!--<br/>-->
		            <!--<div class="article_item" th:if="${news}!=null" th:each="n:${news}">-->
		                <!--<div class="image_box">-->
		                    <!--<img th:src="${n.preview_image}" th:href="'/news/view/'+${n.id}" style="max-height: 100%" onerror="this.src='/common/images/unknown.m.jpg'"/>-->
		                <!--</div>-->
		                <!--<div class="date" th:utext="${n.timestamp.getHours()}+':'+${n.timestamp.getMinutes()}+-->
		                                <!--' '+${n.timestamp.getDay()}+'/'+${n.timestamp.getMonth()}+'/'+${n.timestamp.getYear()}"></div>-->
		                <!--<a th:href="'/news/view/'+${n.id}" class="description" th:utext="${#strings.abbreviate(n.title,40)}"></a>-->
		            <!--</div>-->
		            <!--<div th:if="${news.size()} == 0">По вашему запросу новостей не найдено</div>-->

                    <div th:replace="layout::news"></div>
		        </div>
				
		        <div id="stations" class="tab-pane container">
			        <div class="row">
				        <div class="col-md-12">
					        <div class="row">
					        	<br/>
					            <div class="col-md-4 col-sm-4" th:if="${stations}!=null" th:each="station:${stations}">
						            <div class="predlozh_item">
						                <div class="border_bot">
						                    <div class="logo_comp">
						                        <img th:src="'/images/?filename='+${station.photo}" style="max-height: 60px; max-width: 60px;" onerror="this.src='/common/images/unknown.m.jpg'"/>
						                    </div>
						                    <div class="raiting">
						                        <div>
						                        	<a th:href="'/station/'+${station.id}" th:utext="${station.name}"></a>
						                        </div>
						                        <div class="zvezda" th:if="${station.rating}!=null">
						                            <img th:src="${station.rating}>0?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
						                            <img th:src="${station.rating}>1?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
						                            <img th:src="${station.rating}>2?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
						                            <img th:src="${station.rating}>3?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
						                            <img th:src="${station.rating}>4?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
						                        </div>
						                        <div class="zvezda" th:if="${station.rating}==null" th:utext="'Оценок нет'"></div>
						                    </div>
						                </div>
						                <div class="predlozh_two">
						                	<h5 th:utext="'Адрес: '+${station.address.addr}"></h5>
						                	<!-- 
						                	<h5 th:utext="'Почта: '+${station.getEmail()}"></h5>
						                	<h5 th:utext="'Сайт: '+${station.getSite()}"></h5>
						                	 -->
					                    	<form th:action="@{/new-bid/{path}(path=${station.id})}" th:method="post">
												<button class="btn btn_main">Отправить заявку</button>
											</form>
						                </div>
						            </div>
						        </div>
						        <div th:if="${stations.size()} == 0">По вашему запросу станций не найдено</div>
					       	</div>
				       	</div>
			       	</div>
		        </div>
		
		
		        <div id="discounts" class="tab-pane">
		        	<br/>
		        	<div class="min-height">
			        	<div class="row">
                            <!--/*@thymesVar id="discount" type="com.ss.remont.entity.Discount"*/-->
                            <div th:replace="layout::discounts"></div>
				            <div th:if="${discounts.size()} == 0">По вашему запросу акций не найдено</div>
			            </div>
			        </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
<footer th:replace="layout::site-footer"></footer>
</body>
</html>