<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin-layout::admin-header">
	<title>Просмотр обращений</title>
	
</head>
<body>
	<nav th:replace="admin-layout::site-head" class="container">
	</nav>
   <form name="showFeedBack" th:action="@{/admin/answer-feedback}" method="post">
        <input type="hidden"  name="id" th:value="${feedback.getId()}"/>
        <p th:text="${feedback.getName()}"></p>
        <p th:text="${feedback.getEmail()}"></p>
        <p th:text="${feedback.getPhone()}"></p>
        <p th:text="${feedback.getComment()}"></p>
        <textarea name="answer"></textarea>
	    <input type="submit" value="Ответить"/>
    </form>
</body>
</html>