<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin-layout::admin-header">
	<title>Редактирование станций</title>
	<script src="/resources/common/js/stations-card.js"></script>
</head>
<body>
	<nav th:replace="admin-layout::site-head" class="container">
	</nav>
	
   <form name="searchStation"  th:action="@{/admin/search-station}" >
      <table>
       <tr>
         <td><label for="search">Введите строку для поиска</label></td>
         <td><input type='text' name='search'></input></td>
       </tr>
     </table>
     <input type="submit" value="Поиск"/>
   </form>
   <form name="showStations" th:action="@{/stations-card/open-station}" >
	   	<table id="stations" class="table">
		    <thead>
		        <tr>
		            <th>Идентификатор</th>
		            <th>Ник</th>
		            <th>Email</th>
		            <th>Телефон</th>
                    <th>Ф.И.О. руководителя</th>
                    <th>Телефонный номер руководителя</th>
                    <th>Адрес электронной почты руководителя</th>
		            <th>Баланс</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="station : ${listStations}" th:with="director=${station.stationDirector}">
                        <!--/*@thymesVar id="station" type="com.ss.remont.entity.Station"*/-->
		            <td>
		               <input type="radio"  name="id" th:text="${station.getId()}" th:value="${station.getId()}"></input>
		               <input type="hidden" class="locked" th:value="${station.getLocked()}"/>
		            </td>
		            <td th:text="${station.getName()}"></td>
		            <td th:utext="${station.getEmail()}"></td>
		            <td class='phone' th:text="${station.getPhone()}"></td>
                    <td th:text="${director!=null}?${director.lastName+' '+director.firstName+' '+director.lastName}:'---'"/>
                    <td th:text="${director!=null}?${director.phoneNumber}:'---'"/>
                    <td th:text="${director!=null}?${director.email}:'---'"/>
		            <td class='balance' th:text="${station.getBalance()}"></td>
		        </tr>
		    </tbody>
	    </table>
	    <table id="paginator">
	      <tr>
	        <td  th:each="page : ${pages}">
	          <a th:href="${page.href}" th:text="${page.text}"></a>
	        </td>
	      </tr>
	    </table>
	    <input type="submit" value="Выбрать"/>
    </form>
</body>
</html>