<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>
<html lang="ru" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>
<html lang="ru" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head th:replace="layout::site-head">

    <title>Автосервис</title>

    <link rel="stylesheet" href="/autoservice/libs/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/autoservice/libs/fancybox/jquery.fancybox.css"/>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="/autoservice/libs/fancybox/jquery.fancybox.pack.js"></script>
    <script th:inline="javascript">
        ymaps.ready(init);
        var myMap,
                myPlacemark;

        function init() {
            var latitude = [[${station.getAddress().getLatitude()}]];
            var longitude = [[${station.getAddress().getLongitude()}]];
            myMap = new ymaps.Map("map", {
                center: [longitude, latitude],
                zoom: 14,
                controls: [],
                scroll: true
            });

            myMap.controls.add('geolocationControl'); //- добавление на карту кнопки геолокации
            myMap.controls.add('routeEditor');        //- добавление на карту редактора маршрута
            myMap.controls.add('trafficControl');     //- добавление на карту элемента управления «Пробки»
            myMap.controls.add('typeSelector');       //- добавление на карту переключателя типа карты (в выпадающем списке будут отображены все допустимые типы)
            myMap.controls.add('fullscreenControl');  //- добавление на карту кнопки переключения полноэкранного режима
            myMap.controls.add('zoomControl');        //- добавление на карту панели изменения масштаба
            myMap.controls.add('rulerControl');       //- добавление на карту элементов управления для измерения расстояний

            myPlacemark = new ymaps.Placemark([longitude, latitude], {
                hintContent: [[${station.getName()}]],
                balloonContent: [[${station.getFullInfo()}]]
            });

            myMap.geoObjects.add(myPlacemark);
        }

        $(document).ready(function () {
            $(".fancybox").fancybox({});
        });
    </script>
    <!--
        <link rel="stylesheet" href="libs/fancybox/jquery.fancybox.css" />
        <link rel="stylesheet" href="libs/owl-carousel/owl.carousel.css" />
    -->
</head>
<body>
<header th:replace="layout::site-header"></header>
<div class="content">
    <div class="grey_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb_new">
                        <li><a href="/">Главная</a> /</li>
                        <li><a href="#">СТО</a> /</li>
                        <li th:utext="${station.getName()}">Автомастер</li>
                    </ul>
                    <div class="page_title">
                        <h1 th:utext="${station.getName()}">Автомастер</h1>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs tab_menu">
                <li class="active"><a data-toggle="tab" href="#about">О компании</a></li>
                <li><a data-toggle="tab" href="#recalls">Отзывы</a></li>
                <li><a data-toggle="tab" href="#price">Прайс-лист</a></li>
            </ul>
            <div class="tab-content">
                <div class="page sto_padding tab-pane fade in active" id="about">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="col-md-12 logo-sto-padding">
                                <!--/*@thymesVar id="station" type="com.ss.remont.entity.Station"*/-->
                                <a class="fancybox" rel="group"
                                   th:href="(${station.photo}!=null) ? '/images/?filename='+${station.photo.pathLarge} : '/common/images/unknown.l.jpg'">
                                    <img th:src="(${station.photo}!=null) ? '/images/?filename='+${station.photo.pathMedium} : '/common/images/unknown.l.jpg'"
                                         onerror="this.src='/common/images/unknown.l.jpg'" class="img-responsive"/>
                                </a>
                            </div>

                            <div class="overflow">
                                <!--TODO: дизайн -->
                                <!--/*@thymesVar id="station" type="com.ss.remont.entity.Station"*/-->
                                <div th:each="gallery:${station.gallery}" class="col-md-6 col-sm-6 col-xs-6 col_foto">
                                    <a class="fancybox" rel="group" th:href="'/images/?filename='+${gallery.pathLarge}">
                                        <img th:src="'/images/?filename='+${gallery.pathMedium}"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                                <!--<div class="col-md-6 col-sm-6 col-xs-6 col_foto">-->
                                <!--<a class="fancybox" rel="group" href="/autoservice/img/STO1.png"><img src="/autoservice/img/STO1.png" class="img-responsive"/></a>-->
                                <!--<a class="fancybox" rel="group" href="/autoservice/img/STO3.png"><img src="/autoservice/img/STO3.png" class="img-responsive"/></a>-->
                                <!--</div>-->
                                <!--<div class="col-md-6 col-sm-6 col-xs-6 col_foto">-->
                                <!--<a class="fancybox" rel="group" href="/autoservice/img/STO2.png"><img src="/autoservice/img/STO2.png" class="img-responsive"/></a>-->
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="zvezda" th:if="${station.rating}!=null">
                                        <img th:src="${station.rating}>0?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
                                        <img th:src="${station.rating}>1?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
                                        <img th:src="${station.rating}>2?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
                                        <img th:src="${station.rating}>3?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
                                        <img th:src="${station.rating}>4?'/autoservice/img/zvezda_1.png':'/autoservice/img/zvezda_null.png'"/>
                                    </div>
                                    <div class="zvezda" th:if="${station.rating}==null" th:utext="'Оценок нет'"></div>
                                </div>
                            </div>
                            <div class="row text">
                                <!--/*@thymesVar id="authUser" type="com.ss.remont.auth.AuthUser"*/-->
                                        <!--/*@thymesVar id="station" type="com.ss.remont.entity.Station"*/-->
                                <div th:if="${authUser.role.equals(authUser.role.ADMIN)}" class="row"
                                     th:with="director=${station.stationDirector}">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12" th:text="'Руководитель:'"/>
                                            <div class="col-md-6 right col-sm-12"
                                                 th:text="${director.lastName}+' '+${director.firstName}+' '+${director.patronymic}"/>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12" th:text="'Контактный телефон:'"/>
                                            <div class="col-md-6 right col-sm-12"
                                                 th:text="${director.phoneNumber}"/>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12" th:text="'Адрес электронной почты:'"/>
                                            <div class="col-md-6 right col-sm-12"
                                                 th:text="${director.email}"/>
                                        </div>
                                        <br/>
                                    </div>
                                </div>
                                <div class="col-md-12" th:utext="${station.getInfo()}">
                                    <p>Надежность автомобилей напрямую зависит от качества деталей, используемых при его
                                        обслуживании.</p>
                                    <p>Начиная с лета 2015 г., цены на самые востребованные запчасти Renault снижены до
                                        70%: оригинальные тормозные колодки от 1500 руб., ступичный подшипник от 1920
                                        руб. и многое другое!</p>
                                    <p>Выбирайте гарантированное качество, надежность и высокий класс обслуживания по
                                        новой выгодной цене!</p>
                                    <p>При производстве оригинальных запасных частей компания Renault использует весь
                                        свой богатый опыт и новейшие</p>
                                    <p>Качество: комплектующие производятся при строгом соблюдении технических норм и
                                        стандартов, что позволяет обеспечить безупречную работу вашего автомобиля
                                        Renault.</p>
                                    <p>Безопасность: Renault – первый автопроизводитель, автомобили которого получили 5
                                        звезд на тестах по безопасности EURO NCAP.</p>
                                    <p>Не экономьте на качестве, если Вам дорого здоровье вашего автомобиля и
                                        небезразлична Ваша личная безопасность.</p>
                                    <p>На складе компании Автомастер представлен широкий ассортимент оригинальных
                                        аксессуаров и запчастей рено в Пензе, насчитывающий несколько тысяч
                                        наименований.</p>
                                    <p>Мы надеемся, что сможем удовлетворять 80% спроса сразу в момент обращения
                                        клиента, 10-15% в течение 3 дней. На все оригинальные запчасти Renault,
                                        установленные в нашем сервисном центре, дается гарантия 1 год. разработки в
                                        области автомобилестроения. Оригинальные запасные части Renault обладают двумя
                                        важнейшими свойствами:качество и безопасность.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="address" th:utext="${station.address.addr}">
                                Пенза, ул. Окружная, 3
                            </div>
                            <!--
                            <div class="email_sto">
                                <span th:utext="${station.email}">test@test.com</span><br/>
                            </div>
                             -->
                            <div class="site_sto" th:if="${station.site}">
                                <a th:href="${station.site}">Сайт</a>
                            </div>
                            <div class="dealer_sto" th:if="${station.dealer}">
                                <span>Официальный дилер</span>
                            </div>
                            <div class="dealer_sto" th:if="${station.freelancer}">
                                <span>Фрилансер</span>
                            </div>
                            <!--/*@thymesVar id="station" type="com.ss.remont.entity.Station"*/-->
                            <div th:if="${station.clientCommunication}">
                                <form th:action="@{/new-bid/{path}(path=${station.id})}" th:method="post">
                                    <button class="btn btn_main">Отправить заявку</button>
                                </form>
                            </div>
                            <div th:if="${station.clientCommunication}">
                                <button class="btn btn_main" data-toggle="modal" data-target="#obratnaya">Заказать
                                    звонок
                                </button>
                            </div>
                            <div th:if="${station.clientCommunication}">
                            <button class="btn btn_main" data-toggle="modal" data-target="#order-email">Заказать
                                    ответ на e-mail
                                </button>
                            </div>
                            <div class="action" hidden="hidden">
                                При покупке шин масло в подарок
                            </div>
                            <div class="gift" hidden="hidden">
                                5% на замену шин 10% на замену стекла
                            </div>
                        </div>
                    </div>
                    <div id="map" style="width: 100%; height: 405px"></div>
                </div>
                <div class="page sto_padding tab-pane fade" id="recalls">
                    <div class="row">
                        <div th:replace="layout::recalls"></div>

                        <!--/*@thymesVar id="station" type="com.ss.remont.entity.Station"*/-->
                        <div class="col-md-3">
                            <div class="address" th:text="${station.address.addr}"></div>
                            <div>
                                <form th:action="@{/new-bid/{path}(path=${station.id})}" th:method="post">
                                    <button class="btn btn_main">Отправить заявку</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="page sto_padding tab-pane fade" id="price">
                    <table class="act_bid" id="price-list">
                        <tr>
                            <td>Вид ремонтных работ</td>
                            <td>Цена (руб.)</td>
                        </tr>
                        <tr th:each="rtp:${repairTypePrices}">
                            <!--/*@thymesVar id="rtp" type="com.ss.remont.entity.RepairTypePrice"*/-->
                            <td th:text="${rtp.repairType.name}"/>
                            <td th:text="${#numbers.formatDecimal(rtp.price,1,'DEFAULT',2,'POINT')}"/>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!--/*@thymesVar id="station" type="com.ss.remont.entity.Station"*/-->
<div id="obratnaya" class="modal fade" th:if="${station.clientCommunication}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">

                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <button class="close" type="button" data-dismiss="modal"></button>
                        <h4 class="modal-title">Заказать обратный звонок</h4>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src="/autoservice/img/phone.png"/>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        Заполните небольшую форму и очень скоро наш менеджер свяжется с Вами
                        <form th:action="@{/station/addOrderCall}" method="post">
                            <div class="row answer_form">
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" name="name" required="required" placeholder="Имя"/>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" name="phone" required="required" placeholder="Телефон"/>
                                </div>
                                <input type="text" name="stationId" id="stationId" th:value="${station.id}"
                                       hidden="hidden"/>
                            </div>
                            <div>
                                <button class="btn btn_main">Заказать</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="order-email" class="modal fade" th:if="${station.clientCommunication}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">

                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <button class="close" type="button" data-dismiss="modal"></button>
                        <h4 class="modal-title">Заказать ответ на электронную почту</h4>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src="/autoservice/img/mail.png"/>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        Заполните небольшую форму и очень скоро наш менеджер свяжется с Вами
                        <form th:action="@{/station/addOrderEmail}" method="post" id="addOrderEmail">
                            <div class="row answer_form">
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" name="name" required="required" placeholder="Имя"/>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" name="email" required="required"
                                           placeholder="Адрес электронной почты"/>
                                </div>
                                <input type="hidden" name="stationId" id="stationId" th:value="${station.id}"/>
                            </div>
                            <div class="answer_form">
                                <textarea name="comment" required="required" form="addOrderEmail"
                                          placeholder="Сообщение"></textarea>
                            </div>
                            <div>
                                <button class="btn btn_main">Заказать</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="layout::site-footer"></footer>
</body>
</html>