<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--/*@thymesVar id="station" type="com.ss.remont.entity.Station"*/-->
    <title th:utext="'Страница СТО '+${station.name}"/>
    <link href="../common/css/mycabinet.css" rel="stylesheet" type="text/css"/>
    <link href="../common/css/bid.css" rel="stylesheet" type="text/css"/>
    <link href="../common/css/select2/select2.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="../common/css/styles.css" th:href="@{/common/css/styles.css}"/>
    <link rel="stylesheet" href="../common/css/discount.css" type="text/css"/>

    <script src="../common/js/jquery-3.1.1.min.js"/>
    <script src="../common/js/bid.form.init.js"/>
    <script src="../common/js/select2/select2.full.js"/>
    <script src="../common/js/call_order.js" type="application/javascript"/>
    <script src="../common/js/bid.js"/>
</head>
<body>
<header th:replace="layout::site-header"/>
<!--/*@thymesVar id="station" type="com.ss.remont.entity.Station"*/-->
<div class="myinfo">
    <div>
        <img th:src="${station.getPhoto()}" onerror="this.src='http://placehold.it/250x250'"/>
        <h1 th:utext="${station.getName()}"></h1>
        <h3 th:utext="'Почта: '+${station.getEmail()}"></h3>
        <h3 th:utext="'Телефон: '+${station.getPhone()}" style="display: inline-block"></h3>
        <img id="callOrder" src="../common/images/call.png" onclick="showCallOrderForm(this)"/>
        <!--/*@thymesVar id="station" type="com.ss.remont.entity.Station"*/-->
        <h4 th:utext="'Адрес: '+${station.address.addr}"></h4>
        <h4 th:utext="'Сайт: '+${station.getSite()}"></h4>
    </div>
    <div>
        <h2>Информация:
            <!--Изменить инфомрацию-->
        </h2>
        <h3 th:utext="${station.getInfo()}"/>
    </div>
</div>
<div th:replace="layout::discounts"/>
<!--<div id="discount">-->
    <!--<div class="discount" th:each="discount:${discounts}" th:id="'discount'+${discount.id}">-->
        <!--<img th:src="'/images/?filename='+${discount.photo}"-->
             <!--onerror="this.src='../common/images/discount.png'"/>-->
        <!--<h1 th:utext="${discount.title}"/>-->
        <!--<h2 th:utext="${discount.info}"/>-->
        <!--<h3-->
                <!--th:utext="'Состояние: '+${discount.status}+-->
        <!--' Акция действует с '+${discount.date_start}+' по '+${discount.date_end}"/>-->
    <!--</div>-->
<!--</div>-->
<form id="bid_form" class="bidform" th:action="@{/new-bid/submit}" method="post">
    <div class="bidform">
        <h1>ВАШ АВТОМОБИЛЬ<br/></h1>
        <select id="mark" name="markID"
                onchange="markChanged()"
                required="required">
            <!--/*@thymesVar id="carMark" type="com.ss.remont.entity.CarMark"*/-->
            <!--/*@thymesVar id="mark" type="com.ss.remont.entity.CarMark"*/-->
            <!--<option value=''/>-->
            <option th:each="mark:${carMark}" th:value="${mark.id}" th:utext="${mark.name}"/>
        </select>

        <select id="model" name="modelID" required="required">
            <!--<option value=''/>-->
        </select>
        <input type="number" name="year" id="bid_year" min="1950"/>
        <!--<select id="bid_year" name="year">-->
        <!--</select>-->
    </div>

    <div class="bidform">
        <h1>ВИДЫ РАБОТ</h1>
        <select id="bid_repairtypes" name="repairTypesids" required="required" multiple="multiple">
            <!--/*@thymesVar id="repairTypes" type="com.ss.remont.entity.RepairType"*/-->
            <option th:each="repairtype:${repairTypes}" th:value="${repairtype.id}" th:utext="${repairtype.name}"/>
        </select>
    </div>
    <div class="bidform">
        <h1>ПРЕДПОЛАГАЕМАЯ ДАТА ПРОВЕДЕНИЯ РАБОТ</h1>
        <input type="date" id="bid_desired_date" style="width: 96%" name="desired_date"/>
    </div>

    <div class="bidform">
        <h1>ГОРОД</h1>
        <select id="bid_city" name="city" required="required">
            <option/>
            <!--/*@thymesVar id="cities" type="com.ss.remont.entity.City"*/-->
            <option th:each="city:${cities}" th:value="${city.id}" th:utext="${city.name}"/>
        </select>
    </div>

    <div class="bidform">
        <h1>КОММЕНТАРИЙ</h1>
        <textarea form="bid_form" id="bid_comment" name="comment" maxlength="512"/>
    </div>
    <div class="bidform">
        <!--<input type="button" class="bidsubmit" style="width: 96%" value="ОТПРАВИТЬ ЗАЯВКУ" onclick="submitBid()"/>-->
        <button class="bidsubmit" th:utext="ОТПРАВЛЯЙ" onclick="submitBid()"/>
    </div>
</form>

<!--Пускай в конце будет-->
<input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
<input type="hidden" name="stationID" form="bid_form" id="stationID" th:value="${station.id}"/>
</body>
</html>