<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin-layout::admin-header">
	<title>Редактирование станций</title>
	<script src="/resources/common/js/stations-card.js"></script>
	<script src="/resources/common/js/datepiker/bootstrap-datetimepicker.js"></script>
	<link href="/resources/common/css/datepiker/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<nav th:replace="admin-layout::site-head" class="container">
	</nav>
	<div th:fragment="station-balance">
	   <form name="showBalances" th:action="@{${balanceAction}}" method="POST">
	     <table class="showBalancesTable">
	       <tr th:if="${stations != null}">
	         <td>Станция</td>
	         <td>
	           <select name="idStation">
		     	<option th:each="station : ${stations}" th:value="${station.getId()}" th:text="${station.getName()}"></option>
		       </select>
	         </td>
	       </tr>
	       <tr>
	         <td>С даты</td>
	         <td>
	           <input type="date" class="form-control" name="fromDate" th:value="${fromDate}"/>
	         </td>
	       </tr>
	       <tr>
	         <td>По дату</td>
	         <td>
	           <input type="date" class="form-control" name="toDate" th:value="${toDate}"/>
	         </td>
	       </tr>
	       <tr>
	         <td>Тип операции</td>
	         <td>
	           <select name="operation">
		     	<option  value="0">Все</option>
		     	<option  value="1">Зачисления</option>
		     	<option  value="2">Списания</option>
		       </select>
	         </td>
	       </tr>       
	     </table>
	     <button type="submit" class="btn btn_main" style="margin-top:20px;">Отправить</button>
	   </form>
	   	<table id="stations" class="table">
		    <thead>
		        <tr>
		            <th>Дата</th>
		            <th>Автор изменения</th>
		            <th>Коммент</th>
		            <th>Баланс</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="balance : ${balances}">
		            <td th:text="${balance.getModifyDate()}"></td>
		            <td th:text="${balance.getAuthor().getName()}"></td>
		            <td th:text="${balance.getComment()}"></td>
		            <td th:text="${balance.getBalance()}"></td>
		        </tr>
		    </tbody>
	    </table>
	</div>	    
    
</body>
</html>