:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

*::-webkit-input-placeholder {
	color: #c0392b;
	opacity: 1;
	text-overflow:ellipsis;
}
*:-moz-placeholder {
	color: #c0392b;
	opacity: 1;
	text-overflow:ellipsis;
}
*::-moz-placeholder {
	color: #c0392b;
	opacity: 1;
	text-overflow:ellipsis;
}
*:-ms-input-placeholder {
	color: #c0392b;
	opacity: 1;
	text-overflow:ellipsis;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body, html { margin: 0; padding: 0; }
p { margin: 0; }
a { outline: none; color: #0d0e0e; text-decoration: none; }

body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 14px;
	min-width: 320px;
	position: relative;
    color: #2a2626;
    text-align: justify;
}
.hidden {
	display: none;
}

.bold { font-family: "RobotoBold"; }
.right { float: right; }
.cl { clear: both; }

/*------------Шапка--------------*/

header .container{
	height: 85px;
	padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    background-image: url(../img/logo.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 25px;
    width: 160px;
	margin-left:15px;
}

.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

/*--Поиск--*/

.search {
	margin-left:45px; 
	position:relative;
}

.search  input{
	border-radius:11px;
	width:90%!important;
	padding-right:35px;
}

.navbar-form {
	width:100%;
}

.navbar-form .form-group {
    width: 84%;
}

.search  button{
	position:absolute;
	background:url("../img/search.png") no-repeat 6px 10px;
	width:35px;
	border-radius:0px 11px 11px 0px;
	padding:17px 0;
	margin-right: -10px;
}

/*--Поиск--конец*/

.for_padding {
    height: 45px;
    display: table;
    width: 100%;
}

.vertical_center {
    display: table-cell;
    vertical-align: middle;
}

.socsety a{
	float:right;
	height: 25px;
	display: inline-block;
	margin: 0 7px;
}

.vk {
    background: url(../img/vk.png) no-repeat;
	width: 40px;
}

.insta {
    background: url(../img/instagram.png) no-repeat;
	width: 24px;
}

.phone {
    font-size: 20px;
	height:30px;
	margin-left:32px;
	margin-right:33px;
	float:left;
}

.bg_black{
	width:100%;
	background:#272729;
}

.bg_black .navbar{
	background: none;
	border:none;
	margin:0;
}


.bg_black .navbar-inverse .navbar-brand{
	font-size:13px;
	margin-right:50px;
	padding: 15px 0 15px 15px;
}

.bg_black .navbar-inverse .navbar-nav > li > a{
	font-size:14px;
}

.bg_black .navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
	font-family: "RobotoMedium";	
	color:#f4f3f3;
}

.bg_black .navbar-nav > li{
	list-style-image: url(../img/circle.png);
    list-style-type: circle;
	display: list-item;
	margin-left: 15px;
}

/*.black_row {
    background-color: #272729;
    min-height: 56px;
    font-family: "RobotoMedium";
    padding-top: 11px;
}

.top_menu {
    display: inline-block;
    list-style-image: url(../img/circle.png);
    list-style-type: circle;
    margin: 0;
    padding: 0;
    margin-left: 25px;
}

.top_menu li {
    float: left;
    position: relative;
}

.black_row a {
    color: #f4f3f3;
    text-transform: uppercase;
    display: block;
    float: left;
    margin-right: 30px;
    line-height: 25px;
}

.message {
    margin-right: 0 !important;
    background-image: url(../img/messages.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.login {
    background-image: url(../img/user.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}*/

/*------------Главное фото--------------*/

.big_bg {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    min-height: 850px;
	border-bottom: 4px solid #292a30;
}

.border_gray{
	border-top: 2px solid #505055;
}

.main_form {
    margin-top: 65px;
}

.zagolovok {
    color: #dddbdb;
    font-family: "RobotoThin";
    font-size: 24px;
    margin-bottom: 15px;
}

.btn {
    background-color: #5ab53b;
    border: medium none;
    border-radius: 2px;
    color: #dddbdb;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 30px;
    text-transform: uppercase;
	border-radius:2px;
}

.form_item {
    margin-top: 15px;
}

.how_work {
    color: #dddbdb;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.13);
    margin-top: 100px;
    font-size: 22px;
	margin-left:30px;
}

.how_work h2 {
    font-size: 27px;
    margin-top: 0;
}

.how_work span {
/*    display: inline-block;*/
    margin-left: 15px;
}

.list_item {
    margin-bottom: 43px;
}

.list_item span{
	display:block;
	margin-top: 15px;
	margin-bottom:85px;
}

.list {
    display: inline-block;
    width: 90px;
    height: 82px;
    background-image: url(../img/figure.png);
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 60px;
    padding-left: 20px;
    vertical-align: middle;
}

input, select, textarea {
	font-family: "RobotoLight";
	font-size:18px;
	/*color: #a7a7a7;*/ 
	border-radius: 3px;
	width: 100%;
}

input {
    border: none;
    background-color: #fff;
    padding: 7px;
    
}

textarea {
    resize: none;
    border: none;
	padding:15px;	
	border-radius: 6px;
}

.nice_select select {
    width: 100%;
    border: none;
    -webkit-appearance: none;
    background-image: url('../img/down-arrow.png');
    background-position: right 7px center;
    background-repeat: no-repeat;
    line-height: 1em;
    /* for FF */
    -moz-appearance: none;
    text-indent: 0.01px; 
    text-overflow: '';
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
    padding: 7px; 
    cursor: pointer;
}

/*#main_form input[type=checkbox] {
	    display: none;
}

#main_form label:before {
    border-radius: 3px;
}*/ /* лишнее */

#type_work{
	height:90px;
}
     
select::-ms-expand {
    display: none;
}

.item_landing{
	text-align:center;
	margin-top:80px;	
	margin-bottom:80px;
}

.item_landing div{
	color:#3d3b3b;
	font-size:24px;
	text-transform:uppercase;
	line-height: 1;
}

.land_green{
	font-size:36px!important;
	color:#5ab53b!important;
	margin-top:30px;
	margin-bottom:30px;
}

.bg_grey{
	background:#e5e5e5;
	padding-top:45px;
}

.bg_grey .title{
	margin-bottom: 40px;
	font-family: "RobotoLight";
	color:#272729;
	font-size:24px;
}

.zayavkabox{
	background:#ffffff;
	padding-left:15px;
}

.zayavkabox .row{
	width:100%;
}

.item_zayavka{
	border-bottom:1px solid #b2b0b0;
	padding:12px 5px;
	overflow:auto;
	margin:0!important;
}

.item_zayavka:last-child{
	border:none;
}

.item_zayavka div{
	float:left;
	color:#272729;
	font-family: "RobotoLight";
	/*font-size:18px;*/
}

.zayavkabox .name{
	padding-left:10px;
	white-space: nowrap; 
    overflow: hidden; 
	text-overflow: ellipsis;
}

.zayavkabox .description{
	font-size:14px;
	overflow:hidden;
}

.item_zayavka span{
	color:#5ab53b;
	font-size:14px;
}

.article_box  .col-md-6{
	padding:0 8px;
}

.image_box{
	width:100%;
	height:211px;
	text-align:center;
}

.article_item{
	background:#ffffff;
	height: 310px;
	margin-bottom:35px;
	overflow:hidden;
}

.article_item .date{
	font-family: "RobotoMedium";
	color:#9c9ca0;
	font-size:12px;
	padding-top:0px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}

.article_item .description{
	font-family: "RobotoRegular";
	color:#272729;
	font-size:14px;
	text-transform:uppercase;
	margin:10px;
	display:block;
}

.article_box .col-md-12{
	padding:0 7px;
}

.all_articles{
	text-align:center;
	background:#ffffff;
	border:2px solid #bdbdbd;
	display:block;
	padding: 25px 0;
	font-family: "RobotoMedium";
	font-size:16px;
	color:#514e4e;
	margin-top:-3px;
}

.all_articles:hover{
	color:#514e4e;
}

.predlozh{
	margin-top:60px;
	margin-bottom:65px;
}

.predlozh .title{
	margin-bottom:60px;
}

.border_bot{
	border-bottom:1px solid #b2b0b0;
	height: 70px;
}

.logo_comp{
	/*margin-top:10px;*/
	margin-left:20px;
	float:left;
}

.logo_comp img{
	max-width:195px;
	max-height: 60px; 
	max-width: 60px;
}

.raiting{
	float:right;
	color:#3d3b3b;
	font-size:16px;
	margin-right:15px;
	margin-top:15px;
	text-align: right;
}

.zvezda{
	cursor:pointer;
}

.zvezda img{
	margin-right:-4px;
}

.predlozh_item{
	background:#ffffff;
	border:1px solid #c3c3c3;
	height:190px;
	margin-bottom:30px;
	padding:10px;
}

.predlozh_two div{
	margin-top:25px;
	margin-left:45px;
	color:#3d3b3b;
	font-size:14px;
	float:left;
	max-width:170px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.predlozh_two img{
	margin-top:25px;
	margin-left:20px;
	float:left;
	height: 60px; 
	width: 60px;
}

.footer{
	background:#423e3e;
	height:190px;
	padding-top:50px;	
}

.footer a{
	font-family: "RobotoLight";
	color:#c0bebc;
	font-size:17px;
	display:table;
}

.footer a:hover{
	text-decoration: underline;
}

.footer .info{
	color:#ffffff;
	font-size:14px;
	font-family: "RobotoLight";
}

.footer .phone{	
	font-size:20px;
	margin: 10px 0;
	float:none;
	
}

.footer .vk{
	 background: url(../img/vk_white.png) no-repeat;
}

.footer .insta{
	 background: url(../img/insta_white.png) no-repeat;
}

.form_item label:not(.error){
	display:block;
	background: url(../img/opasity.png) repeat;
	color:#1d1c1c;
	font-size:18px;
	font-weight: normal;
	padding: 7px 13px 7px 15px;
	border-radius:3px;
}

.margin_top{
	margin-top:20px;
}

.calendar{
	background: url("../img/calendar.png") no-repeat right center, #fff;
	padding-right: 45px;
}

.navbar-nav > li > a {
	padding-left:3px;
}

.message, .enter, .exit{
	margin-left:30px!important;
}

.enter {
	list-style-image: url("../img/user.png")!important;
}

.exit {
	list-style-image: url("../img/exit.png")!important;
}

.message {
	list-style-image: url("../img/messages.png")!important;
	position:relative;
}

.message_num{
	color:#ffffff;
	font-size: 14px;
	font-family: "RobotoMedium";
	background: #ff9e63;
	height:20px;
	padding-left:2px;
	width:20px;
	border-radius:10px;
	position:absolute;
	top:24px;
	left: -22px;
	text-align:center;
}

/* Хлебные крошки*/
.big_bg .breadcrumb_new, .big_bg .breadcrumb_new a, .big_bg .page_title h1 {
	color: #dddbdb;	
}

.breadcrumb_new {
    font-size: 14px;
    font-family: "RobotoThin";
    color: rgb( 78, 76, 76 );
    padding-left: 0px;
    margin: 30px 0px 0px 0px;
    
}
 
.breadcrumb_new li {
    display: inline;
}
 
.breadcrumb_new a{
    font-weight: bold;
    color: black;
}
 
.page_title {
    margin-bottom: 25px;
}
 
.page_title h1 {
    font-size: 30px;
    font-family: "RobotoMedium";
    color: #3e3e3e;
    font-weight: bold;
    margin-top:10px;
}
/* Хлебные крошки*/

.min-height {
    min-height: 526px;
}
 
/*  contacts   */
.grey_bg{
    background: rgb(215, 215, 215);
}

.grey_bg .zagolovok{
	color: black;
}
 
.page {
    background: #fff;
    padding: 65px 45px 45px 45px;
    min-height: 526px;
}
 
.requisites {
    font-size: 16px;
    font-family: "RobotoLight";
    color:#4e4c4c;
}
 
.requisites  span{
    font-size: 20px;
}
 
.Bold{
    font-family: "RobotoBold";
}
 
.Thin{
    font-family: "RobotoThin";
}
 
#contacts_form p{
    font-size: 18px;
    font-family: "RobotoLight";
    margin-bottom: 30px;
}
.page input, .page textarea {
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 199, 199, 199 );
    border-radius: 3px;
    background-color: rgb( 255, 255, 255 );
    margin-bottom: 20px;
    box-shadow: inset 0 0 5px rgba(199, 199, 199,0.5);
    -webkit-box-shadow: inset 0 0 5px rgba(199, 199, 199,0.5);
    -moz-box-shadow: inset 0 0 5px rgba(199, 199, 199,0.5);
    font-size: 14px;
    font-family: "RobotoLight";
    /*color: rgb( 148, 146, 146 );*/
    padding-left: 15px;
}
#contacts_form .form_item {
   margin-top: 0px;
}
.in_width {
    width: 100%;
    margin-top: 0px;
    font-family: "RobotoLight";
    font-size:16px;
    color:#f8f3f3;
    font-weight:bold;
}

.btn_main {
    margin-top: 0px;
    font-family: "RobotoMedium";
    font-size: 16px;
    color: #f8f3f3;
    font-weight: bold;
}

/*  contacts   */
 
/*личный кабинет*/
    
 .tab_menu {
    background: #e5e5e5;
    color: #2a2626;
    font-size: 14px;
}
 
.tab_menu a {
    padding: 17px 25px !important;
}
 
.grey_line {
    border-top: 1px solid #b2b0b0;
    margin-top: 45px;
    margin-bottom: 20px;
    padding-top: 20px;
}
 
.btn_grey {
    background: #fff;
    border: 1px solid #b2b0b0;
    text-transform: none;
    font-size: 14px;
    color: #000;
    padding-right: 10px;
    padding-left: 35px;
    float: right;
    margin-left: 10px;
}
 
.btn_grey:hover{
    text-decoration:underline;
}
 
.btn_grey.edit {
    background: url("../img/edit.png") no-repeat 5px 5px, #fff;
 
}
 
.btn_grey.delete {
    background: url("../img/delete.png") no-repeat 5px 5px, #fff;
}

.btn_grey.save {
    background: url("../img/save.png") no-repeat 5px 5px, #fff;
 
}
 
.btn_grey.cancel {
    background: url("../img/cancel.png") no-repeat 5px 5px, #fff;
}
 
 /* подменю   */
 
.tab_sub_menu {
    margin-top: -55px;
    font-size: 17px;
    color: #5b5252;
}
  
.tab_sub_menu .nav-tabs {
    border: none;
}
 
.tab_sub_menu .nav-tabs li {
    margin-right: 20px;
}
 
.tab_sub_menu .nav-tabs a {
    border: none !important;
    border-radius:0px!important;
    margin-top:1px!important;    
}
 
.tab_sub_menu li.active a {
    border-bottom: 4px solid #5AB53B !important;
}
 
.act_bid {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
}

 /*  таблица    */ 

 .act_bid tr{
 padding:10px;

 }
 .act_bid tr:first-child td{
 color: #1e1b1b;
 padding:15px;
 font-weight: bold;
 font-size:14pt;
 background-color:#F8F8F8;
 border-bottom: none;

 }
 .act_bid tr:nth-child(2) td{
 border-top: none;
 }
 .act_bid td{
     border:1px solid #B2B0B0;
     text-align:center;
     padding:7px;
     background-color:#fff;
     font-family: "RobotoLight";
 }

 .act_bid {
     width:100%;   
 }
/*личный кабинет*/

.g-recaptcha{
	margin-bottom: 10px;
    transform:scale(0.95);
    -webkit-transform: scale(0.95);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}

/*Всплывающее окно*/
.modal-content{
    border-radius:0px;
    font-family: "RobotoLight";
    color:#474343;
}
 
.modal-header{
    border-bottom: none;
}
 
.modal-header h4{
    font-size:30px;
    padding-top:20px;
}
 
.close{
    width:20px;
    height:20px;
    background: url("../img/close.png")!important;
    opacity:1;
}
 
.modal-body{
    font-size:16px;
    padding-top:0px;
}
 
.modal-body img{
    margin-left:30px;
    margin-top:-40px;
}
 
.answer_form input, #edit_user  input, .answer_form textarea{
    font-size:14px;
    border:1px solid #c7c7c7;
    box-shadow: 0 0 2px rgba(0,0,0,0.1) inset;
    margin:25px 0;
    padding:10px 15px;
}
/*Всплывающее окно*/
 
/*Редактировать профиль*/
#edit_user .title{
    font-family: "RobotoLight";
    color:#2e2c2e;
    font-size:18px;
    margin-bottom:10px;
    margin-top:15px;
}
 
#edit_user  input{
    margin:10px 0!important;
    max-width:250px;
}
 
#edit_user .avatar{
    width:150px;
    margin:60px auto 0px;
}
 
#edit_user .avatar div{
    width:150px;
    height:160px;
    margin-bottom:5px;
}
 
#edit_user .avatar img{
    max-width:150px;
    max-height:160px;
}
 
#edit_user .avatar button{
    background:none;
    border:none;
    font-size:14px;
    margin-left:16px;
}
 
#edit_user .avatar button:hover{
    text-decoration:underline;
}
 
.check_profil input[type="checkbox"] + label::before{
    content: "";
    width:25px;
    height:25px;
    float:left;
}
 
.check_profil label{
    display:block;
    font-family: "RobotoLight";
    font-size:14px;
    color:#282727;
    margin-top:15px;
}
 
.check_profil label div{
    padding-top: 3px;
    margin-left:31px;
}
 
#edit_user .row{
    margin-bottom:45px;
}
/*Редактировать профиль*/
 
/* Регистрация */
.registration{
    padding-top:20px;
}
 
.registration .title{
    margin-bottom:20px;
    border-bottom:1px solid #B2B0B0;
}
 
.registration .title p{
    font-size:30px;
    margin-bottom:20px;
    padding-left:15px;
    font-family: "RobotoLight";
    color:#474343;
}
 
.registration .padding{
    padding:0 71px 71px 71px;
}
 
.registration .user_reg_items span, label.error{
    font-family: "RobotoLight";
    font-size:16px;
    color:#e25433;
    display:block;
    margin-bottom:10px;
}
 
.registration input{
    color:#949292;
}
 
.registr_box {
    padding:45px;
    background-color:#F9F9F9;
}
 
.user_agr{
    line-height: 1em;
    color:#949292;
}
 
.user_agr a {
    color:#69BA4F;
}
/* Регистрация */
 
/*Авторизация*/
.enter_form input{
    border-style: solid;
    border-width: 1px;
    border-color: rgb( 199, 199, 199 );
    border-radius: 3px;
    box-shadow: inset 0 0 5px rgba(199, 199, 199,0.5);
    -webkit-box-shadow: inset 0 0 5px rgba(199, 199, 199,0.5);
    -moz-box-shadow: inset 0 0 5px rgba(199, 199, 199,0.5);
    font-family: "RobotoThin";
    font-size:14px;
    color:#949292;  
    padding:10px;
    margin-bottom:15px;
}
 
#auth .modal-title{
    padding-top:45px;
    padding-bottom:15px;
}
 
.enter_form{
    border-bottom:1px solid #d1cfcf;
}
 
.enter_form a{
    color:#58b438;
    font-size: 13px;
    text-decoration: underline;
}
 
.enter_form a:hover{
    text-decoration: none;
}
 
.enter_form_a{
    margin-top:-12px;
}
 
.enter_form_label{
    font-size:13px;
    color:#474343;
    margin-top:25px;
    margin-bottom:20px;
}
 
.enter_form_label div{
    padding-left:40px;
    padding-top:5px;
}
 
.enter_registration{
    margin: 20px 0;
    display: block;
    width:100px;
    color:#2a5a1a!important;
    font-size:16px!important;
    text-decoration: none!important;
}
.enter_registration:hover{
    text-decoration: underline!important;
}
 
 
.enter_form_label input[type="checkbox"] + label::before{
    float:left;
    margin-right: 15px;
    margin-top: -3px;
}
 
.enter_soc .title{
    padding: 20px 0px;
}
 
.enter_form{
    padding: 0 50px;
}
 
.enter_soc{
    padding: 0 0 100px 50px;
}
 
.enter_soc a{
    height:45px;
    margin-right: 10px;
    display:block;
    float:left;
}
 
.enter_fb {
    background: url("../img/fb.png");
    width: 64px;
}
 
.enter_vk{
    background: url("../img/vk_enter.png");
    width: 106px;
}
 
.enter_gl{
    background: url("../img/gl.png");
    width: 90px;
}
/*Авторизация*/
/*Детальная статья*/
.stat_header {
    font-size: 30px;
    text-transform: uppercase;
    margin:0px;
    margin-bottom: 15px;
}
 
.page.nopadding{
    padding:40px 50px 45px 40px;
    
}
 
.stat_date {
    font-size: 14px;
    margin-bottom: 5px;
    color:#9c9ca0;
    display: inline;
    padding-left:2px;
    font-weight:bold;
}
 
.stat_from {
    font-size: 16px;
    color:#58b438;
    display: inline;
    padding-left:15px;
    font-weight:bold;
}
 
.stat_social {
    margin:35px 20px 40px 0;
 
}
    
.stat_social a{
    margin-right:7px;
    padding:10px 20px;
}
 
.vk_detail{
    background: url("../img/vk_detail.png");
}
 
.ok_detail{
    background: url("../img/ok_detail.png");
}
 
.tw_detail{
    background: url("../img/tw_detail.png");
}   
 
.fb_detail{
    background: url("../img/fb_detail.png");
}
 
.stat_text {
    font-size: 1.2em;
    color:#272729;                  
}
 
.stat_text .under_img{
    padding: 15px 40px 19px 0;
    float:left;
 
 
 
}
 
.under_img {
    padding:10px;
    padding-left:0px;
    color:#818184;
}
 
.stat_next {
    text-align:right;
}
 
.pagen {
    padding-top:20px;
    padding-bottom:50px;
}
    
.pagen a{
    font-size:16px;
    color:#58b438;
}
    
.more_stat_date {
    font-size: 0.9em;
    margin-bottom: 5px;
    color:#9c9ca0;
    display: inline;                
}
    
.more_stat_header {
    font-size: 0.95em;
    text-transform: uppercase;
    margin:0px;
    margin-bottom: 5px;     
    padding-right:25px;
    padding-top:6px;
}
 
.div_more_stat {
    margin:0px;
    padding:0px;
}
 
.img_more_stat {
    width:100%;
}
 
 
 
 
 
/*Детальная статья*/
/*  articles   */
.articles_padding{
    padding-left:40px;
    padding-right:40px; 
}
 
.articles_padding .col-md-3{
    padding:7px;
    margin-bottom:30px;
}
 
.articles_padding .date{
    font-family: "RobotoThin";
    font-size:12px;
    color:#9c9ca0;
    padding: 5px 0;
}
 
.articles_padding .title{
    max-width:250px;
}
 
.articles_padding .title a{
    font-family: "RobotoThin";
    font-size:13.45px;
    font-weight:bold;
    color:#272729;
    text-transform: uppercase;  
}
 
.articles_padding .more{
    text-align:center;
    font-family: "RobotoThin";
    font-size: 14px;
    color:#272729;
    font-weight:bold;
    margin-top:10px;
}
 
.articles_padding .more_btn{
    text-align:center;
    background: #fff;
    border: 2px solid #bdbdbd;
    width:100%;
    border-radius:2px;
    font-family: "RobotoMedium";
    font-size: 16px;
    color:#514e4e;
    padding: 20px 0;
    margin-top:20px;
}
 
.articles_padding .more_btn:hover{
    text-decoration:underline;
}
 
.tab_menu .active a{
    border-radius: 0px;
}
/*  articles   */
/*  sto   */
.sto_padding{
    padding: 45px 70px 70px 30px
}
 
.logo-sto-padding{
    padding:40px 0 60px 0px;
}
 
.sto_padding .col_foto{
    padding-left:0px;
}
 
.sto_padding .col_foto img{
    margin-bottom:20px;
    cursor:pointer;
}
 
.sto_padding .text{
    font-size:14px;
    color:#1a1919;
    padding-top:15px;
    line-height: 1.2;
}
 
.sto_padding .text p{
    padding-bottom:15px;
}
 
.phone_sto, .sto_padding .address, .site_sto, .email_sto, .dealer_sto{
    font-size:14.55px;
    color:#2a2626;
}
 
.sto_padding .address{
    background: url("../img/geo.png") no-repeat 5px 10px;
    padding: 10px 0px 15px 40px;
}
 
.phone_sto{
    background: url("../img/phone_black.png") no-repeat 5px 7px;
    padding: 0px 0px 35px 40px;
}

.email_sto{
	background: url("../img/email.png") no-repeat 5px 7px;
    padding: 0px 0px 35px 40px;
}

.site_sto{
	background: url("../img/www.png") no-repeat 5px 7px;
	padding: 0px 0px 35px 40px;
}

.dealer_sto{
	background: url("../img/check-mark-black.png") no-repeat 5px 7px;
	padding: 0px 0px 35px 40px;
}
 
.phone_sto span, .site_sto a, .email_sto span, .dealer_sto span{
    font-family: "RobotoMedium";
}
 
.sto_padding .btn_main{
    padding-top:15px;
    padding-bottom:15px;
    font-size:14px;
    margin-bottom:10px;
    width:100%;
}
 
.action, .gift{
    color:#3d3b3b;
    font-size:14px;
    padding:20px 0 0 45px;
    min-height: 52px;
}
 
.action{
    background: url("../img/proc.png") no-repeat 0px 25px;
} 
 
.gift{
    background: url("../img/pres.png") no-repeat 0px 25px;
}
/*  sto   */

/*  чат   */
.chat {
    padding-left:0;
    padding-right:0;
    overflow:auto;
    padding-bottom:0px;
    margin-left: -45px;	/*as .page padding*/
    margin-right: -45px;
}
 
.chat .nav{
    border-bottom:1px solid #b2b0b0;
    margin-left:25px;
    margin-right:25px;
    padding-bottom:20px;
}
 
.chat .left{
    background:#f8f8f8;
    height:430px;
    margin-top:16px;
    padding:0px;
    min-height: 490px;
}
 
.chat .active{
    background:#fff!important;
}
 
.chat .left .item{
    cursor:pointer;
    padding:0 10px;
    border: solid 1px #ddd;
    background: #f8f8f8;
}

.chat .left .item .logo_comp{
	margin-top: 10px;
}
 
.chat .online, .chat .offline{
    font-size:14px;
    color:#272727;
    padding-left:15px;
}
 
.chat .online{
    background: url("../img/online.png") no-repeat 0px 7px;
} 
 
.chat .offline{
    background: url("../img/offline.png") no-repeat 0px 7px;
}
 
.chat .under{
    padding:10px 10px 10px 15px;
}
 
.chat .rub{
    color:#272727;
    font-size:20px;
    background: url("../img/rub.png") no-repeat right 5px;
    padding-right:17px;
    text-align:right;
    font-weight: bold;
}
 
.chat .address{
    color:#272727;
    font-size:12px;
    padding-top:10px;
}
 
.chat .messages{
    padding:0 20px;
}
 
.window_message{
    height:385px;
    overflow: auto;
}
 
.window_message .item{
    overflow:auto;
    padding: 10px 0;
}
 
.window_message .user_other{
    font-family: "RobotoRegular";
    font-size:16px;
    color:#5ab53b;
    padding-top:10px;
}
 
.window_message .user_auth{
    font-size:16px;
    color:#4f4545;
    padding-top:10px;
    font-size:bold;
    text-align:right;
    font-weight:bold;
}
 
.window_message .message_auth {
    padding-left:40px;
    padding-right:0px;
}
 
.window_message .message_other {
    padding-right:40px;
    padding-left:0px;
}
.window_message .rec{
    background:#5ab53b;
    font-family: "RobotoMedium";
    color:#f8f3f3;
    font-size:14px;
    border:none;
    text-transform:uppercase;
    margin:10px 0;
    padding:5px 15px;
}
 
.window_message .message_auth .div, .window_message .message_other .div{
    border: 1px solid #128e16;
    border-radius:5px;
    padding:15px 20px;
    box-shadow: 0 0 2px rgba(199, 199, 199, 0.5);
    position:relative;
    font-size: 12px;
}
 
.window_message .message_auth img{
    position: absolute;
    right: -9px;
    top: 15px;
}
 
.window_message .message_other img{
    left: -9px;
    position: absolute;
    top: 11px;
}
 
.window_message .message_auth .div{
    background:#f6f6f6;
    
}
 
.window_text{
    height:120px;
    border-top:1px solid #b2b0b0;
    padding: 25px 15px 35px 0px;
}
 
.window_text .box{
    box-shadow: 0 0 2px rgba(199, 199, 199, 0.5) inset;
    border-color: rgb(199, 199, 199);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    height: 80px;
    padding:5px;
}
 
.window_text .box textarea{
    box-shadow: unset;
    border: none;
    margin:0;
    padding:0;
    font-family: "RobotoRegular";
    font-size:12px;
    color:#393939;
    height: 70%;
}
 
.window_text .box .file{
    font-family: "RobotoRegular";
    font-size:12px;
    color:#393939;
    background: url("../img/skrep.png") no-repeat right 0, #fff;
    border: none;
    padding: 1px 23px 5px 0;
    float:right;
}
 
.window_text .box .send{
    background: url("../img/sam.png") no-repeat, #fff;
    padding:12px;
    border: none;
    float:right;
    margin-left:10px;
}
 
.window_message .time{
    font-family: "RobotoRegular";
    font-size:12px;
    color:#9a9a9a;
    position:absolute;
    bottom:5px;
    right:10px;
}
 
.chathome {
    border:none;
    padding:2px 5px;
    margin:7px;
    border:1px solid #7c7c7c;
    border-radius:2px;
}
.chathome:hover {
    background:#b5b5b5;
}
 
.chathome img{
    height:22px;        
}
/*  чат   */

/*  отзыв   */
.item_otsyv .col-md-2 img{
    border-radius: 100px;
    width:62px;
}
 
.item_otsyv{
    padding-right:40px;
    padding-bottom:25px;
    border-bottom:1px solid #e4e4e4;
    padding-top:30px;
    color:#0d0e0e;
}
 
.item_otsyv:first-child{
    padding-top:0px;
}
 
.item_otsyv:last-child{
    border-bottom: none;
}
 
.item_otsyv .title{
    padding-bottom: 10px;
}
 
.item_otsyv .span_name{
    font-size: 18px;
    font-weight: bold;
}
 
.item_otsyv .span_car{
    font-size: 18px;
}
 
.item_otsyv .span_date{
    padding-left:30px;
}
 
.item_otsyv .otsyv_title{
    padding-top:15px;
    padding-bottom:5px;
    color:#686466;
}
/*  отзыв   */

.carimg{
	width: 70%;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.infotext{
	height:200px;
}

.showBalancesTable td:last-child{
	padding-left:10px;
}

.message-count {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
}

.unread{
	background: aliceblue;
}

input[type="checkbox"],
input[type="radio"] {
    display:none;            
}

input[type="checkbox"] + label, 
input[type="radio"] + label {
  cursor: pointer;
}
input[type="checkbox"] + label::before{
    content: "";
    background: url(../img/check.png) no-repeat;
	display: inline-block;
	width:25px;
	height:25px;
	float:right;
}

input[type="checkbox"] + label::before {
   /* background-position: -38px -260px;    */
}
input[type="radio"] + label::before {
	/*background-position: 0px -279px;*/
}
input[type="checkbox"]:checked + label::before {
    background: url(../img/check-mark.png) no-repeat;
}
input[type="radio"]:checked + label::before {
    /*background-position: -108px -279px;*/
}
input[type="checkbox"]:disabled + label::before {
  /*  background-position: -152px -260px;*/
}
input[type="checkbox"]:checked:disabled + label::before {
  /*  background-position: -171px -260px;*/
}
input[type="radio"]:disabled + label::before {
  /* background-position: -144px -279px;*/
}
input[type="radio"]:checked:disabled + label::before {
  /*  background-position: -162px -279px;*/
}​