/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.phone {
		margin-left: 10px;
		margin-right: 10px;
	}

	.search button {
		right: 63px;
	}
	
	.registration img{
        width:100%;
    }
    
    .registration .btn_main {
        padding: 10px 5px;
    }
    
    .registration .padding{
        padding:35px;
    }
	 
	.sto_padding .btn_main{
        width:unset;
    }
}

@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.navbar-form .form-group {
		width: 100%;
	}

    .enter_form_label{
        margin-bottom:0px;
    }
	
	.search button {
		right: 15px;
	}
	
	header .container{
		height: 120px;
	}
	
	.logo_comp img{
		max-width:65px;
	}
	
	.predlozh_two div{
		max-width:100px;
		margin-top:10px;
	}
	
	.how_work{
		margin-left:0;
	}
	
	.list_item span{
		margin-bottom: 95px;
		margin-top: 20px;
	}
	
	#contacts_form{
        margin-top: 40px;
    }
    
    .in_width{
        margin-top:20px;
    }
    
    .act_bid tr:first-child td{
        display:none;
    }
    
    td:first-child{
        border-top:1px solid #B2B0B0!important;
    }
    
    td{
        display:block;
        border-top:none!important;
    }    
    
    .other_item{
        margin: 10px auto;
        max-width:276px;
    }
    
    .articles_padding .item{
        margin: 10px auto;
        max-width:276px;
    }
    
    .overflow{
        overflow:auto;
    }
    
    .window_message .message_auth img, .window_message .message_other img{
        display:none;
    }    
    
   .item_otsyv{
        padding-right:0px;
    }    
}


@media screen and (max-height: 575px) {
	#rc-imageselect, .g-recaptcha {
		transform: scale(0.75);
		-webkit-transform: scale(0.75);
		transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.logo{
		margin-left:0px;
	}
	
	.logo_comp img{
		max-width:195px;
	}
	
	.search{
		margin:-15px;
	}
	
	.search button {
		top:11px;
		right:30px;
	}
	
	header .col-md-3{
		margin-top:-45px;
	}
	
	.footer{
		height: 300px;
	}
	
	.predlozh_two div{
		max-width:170px;
		margin-top:25px;
	}
	
	.form_item input, .form_item select, .form_item textarea {
		margin: 5px 0;	
	}
	
	.navbar-nav {
		padding-left: 10px;
	}
	
    .answer_form input{
        margin:10px 0;
    }
    
    #edit_user  input{
        max-width:unset;
    }
    
    #auth .modal-title{
        text-align: center;
    }
}
 
@media only screen and (max-width : 621px) {
    .modal-body img{
        margin-left:0px;    
    }
    
    .registration .padding{
        padding:0 20px 20px 20px;
    }	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.list_item span{
		margin-bottom: 68px;
		margin-top: 26px;
	}
	
    .modal-body img{
        display:none;   
    }
    
    .registration .btn_main {
       font-size:14px;
    }
    
    .registration .padding{
        padding:0;
        margin:30px 0;
    }
    
    .registr_box {
        padding:10px;
    }
    
    .enter_form{
        padding: 0 10px;
    }
 
    .enter_soc{
        padding: 0 0 100px 10px;
    }	
    
    .item_otsyv .span_date{
        padding-left:5px;
    }    
}

@media only screen and (max-width : 406px) {
	.list_item span{
		margin-bottom: 60px;
		margin-top: 20px;
	}
	
    .registration .btn_main {
        font-size: 12px;
        padding-left:3px;
        padding-right:3px;
    }
    
    .enter_soc a{
        margin-right: 5px;
    }	
}

@media only screen and (max-width : 360px) {
	.search {
		margin-left: 15px;
	}
	
	.list_item span{
		margin-bottom: 50px;
		margin-top: 10px;
	}

    .btn_grey{
        padding-right:2px;
        padding-left:23px;
        background-position:2px 2px!important;
    }
    
    .enter_soc a{
        margin-right: 70px;
        margin-bottom: 15px;
 
    }
    
    .enter_soc{
        padding-bottom: 30px;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.phone {
		margin-left: -1px;
	}
	
    .registration .btn_main {
        padding-left:1px;
        padding-right:1px;
    }	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.modal-dialog {
	    margin: 150px auto;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}