<html>
    <head>
      <meta charset="UTF-8"/>
	  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    </head>
	<body>
		<h2>'Ремонт на ваших условиях'</h2>
		<h3>
			Для восстановления пароля перейдите по <a href="${link}">ссылке</a>
		</h3>
	</body>
</html>