<html>
    <head>
      <meta charset="UTF-8"/>
	  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    </head>
	<body>
		<h3>Ответ на обращение №"${feedback.getId()}" 'Ремонт на ваших условиях'</h3>
		<h3>
			<i>${feedback.getComment()}</i>
		</h3>
		<br/>
		<p>
		  ${answer}
		</p>
	</body>
</html>