#addDiscount{
    width: 50%;
    margin-left: 10%;
}

#discountTitle, #discountContent, #discountFile, #discountSubmit {
    display: block;
    font-family: "Segoe UI";
}

#discountTitle,#discountContent{
    width: 40%;
}

#discountDate_start, #discountDate_end{
    display: inline-block;
    font-family: "Segoe UI";
    width: 20%;
}

