.discount img{
    float: left;
    margin-right: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    max-width: 116px;
    /*background-color: #CCCCCC;*/
    width: 64px;
    height: 64px;
}
.discount{
    display: inline-block;
    padding: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    vertical-align: top;
    /*min-height: 130px;*/
    height: auto;
    /*max-height: 130px;*/
}


.discount h1, .discount h2, .discount a{
    font-family: "Segoe UI";
    color: black;
    margin-top: 0px;
    margin-bottom: 5px;
}

.discount h1, .discount a{

    font-size: 14px;
    font-weight: bold;

}

.discount h2{
    font-size: 12px;
    font-weight: normal;
    max-lines: 2;
}

.discount h3{
    font-family: "Segoe UI";
    font-size: 8px;
    font-weight: lighter;
    margin-top: 10px;
}