.bidform {
    background-image: url('http://placehold.it/1920x400');
    /*background-image: url('http://placekitten.com/1920/400');*/

}

.bidform div {
    margin-left: 15%;
    margin-top: 20px;
    /*padding-top: 50px;*/
    /*padding-left: 15%;*/
    width: 30%;
    /*outline: solid;*/
    /*outline-color: red;*/
}

.bidform select{
    color: black;
    font-family: "Segoe UI";
    font-weight: normal;
}

.bidform textarea, input {
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: lighter;
    color: black;
}

.bidsubmit {
    transition: background-color 0.2s ease;
    width: 96%;
    background-color: #A4C400;
    border: none;
    font-family: "Segoe UI";
    font-weight: bolder;
    font-size: 20px;
    color: white;
}

.bidsubmit:hover{
    background-color: #60A917;
}

.bidform textarea {
    width: 96%;
    height: 80px;
    resize: none;
}

.bidform h1 {
    font-family: "Segoe UI";
    font-size: 18px;
    font-weight: lighter;
    color: white;
}

.statistics{
    
}

.statistics div{
    display: inline-block;
    padding: 15px;
}

.statistics img{
    float: inherit;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    max-width: 116px;
    /*background-color: #CCCCCC;*/
    width: 128px;
    height: 128px;
    background-size: cover;
}

.statistics h1{
    text-align: center;
    color: #A4C400;
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 14px;
}