div.carblock {
    font-size: 12px;
    font-family: tahoma;
    height: 140px;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    width: 50%;
    margin-left: 10%;
}

div.carblock:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}

div.carblock img {
    float: left;
    margin-right: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    max-width: 116px;
}

.deleteButton{
    width: 24px;
    height: 24px;
    background: url(/common/images/delete.png) no-repeat center center;
    background-size: cover;
    border-style: none;
    float:right;
    margin-top:0px;
    margin-right:0px;
}

/*form.carblock input {*/
    /*border: none;*/
    /*float: right;*/
    /*box-shadow: 2px 2px 5px rgba(0,0,0,.2);*/
    /*height: 100%;*/
    /*display: block;*/
    /*z-index: 1;*/
/*}*/

div.carblock div{
    font-weight: bold;
    z-index: 0;
    max-width: 70%;
}

div.carblock i { position: absolute; top: 0; right: 0}
