div.myinfo, form.myinfo {
    font-size: 12px;
    font-family: tahoma;
    height: auto;
    border: 1px solid #ccc;
    color: #555;
    display: block;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    width: 50%;
    margin-left: 10%;
}

div.myinfo div{
    /*border-style: solid;*/
    /*border-color: red;*/
    height: auto;
    overflow: auto;
}

div.myinfo:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);

}

div.myinfo img {
    float: left;
    margin-right: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    max-width: 250px;
}

div.myinfo h1,h2,h3,h4,h5 {
    font-family: "Segoe UI";
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.myinfo h2,h3,h4,h5{
    font-weight: lighter;
}

div.myinfo h1{
    font-size: 36px;
    font-weight: normal;
}

div.myinfo h2{
    font-size: 24px;
}

div.myinfo h3{
    font-size: 18px;
}

div.myinfo h4{
    font-size: 14px;
}

#editInfo, .editInfo{
    max-width: 32px;
    max-height: 32px;
    box-shadow: none;
    float: right;
}

#callOrder{
    /*background: url(common/images/call.png) no-repeat center center;*/
    background-size: cover;
    box-shadow: none;
    /*float: right;*/
    max-width: 32px;
    max-height: 32px;
    border-style: none;
    float: inherit;
}

div.myinfo input {
    border: none;
    float: right;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
    height: 100%;
    display: block;
    z-index: 1;
}

.myinfo textarea{
    font-family: "Segoe UI";
    font-weight: normal;
    color: black;
    font-size: 14px;
    resize: none;
    width: 100%;
    border: none;
    height: auto;
    outline-width: 0px;
}

#saveButton{
    width: 100%;
    font-size: 16px;
    background-color: #A4C400;
    margin-top: 30px;
    font-family: "Segoe UI";
    color: white;
    text-transform: uppercase;
    height: auto;
    border: none;

}

.deleteDiscountButton{
    width: 24px;
    height: 24px;
    background: url(/common/images/delete.png) no-repeat center center;
    background-size: cover;
    border-style: none;
    float:right;
    margin-top:0px;
    margin-right:0px;
}